[2014-10-22 18:57] MikePulsiferDOL opened #1 "UX Review: Home Page Is Overwhelming"
Page is overwhelming. Too many links. Beginners guide should be on the home page. Accessing page should be on home page. Is hard to read. Table format?

Information architecture of the middle section is confusing.

*note:  being addressed in developer.dol.gov redesign*

[2014-10-22 19:01] MikePulsiferDOL opened #2 "UX Review: Call To Action"
Make a call to action on the home page.

*note: being addressed in developer.dol.gov redesign*

[2014-10-22 19:04] MikePulsiferDOL opened #3 "UX Review: Interactive Documentation"
Would like to see interactive documentation.

_note: being considered for developer.dol.gov redesign_

[2014-10-22 19:05] MikePulsiferDOL opened #4 "UX Review: Who's using it?"
Did not know who was using the API, or whether dol was even using it.

_note: being considered for the developer.dol.gov redesign_

[2014-10-22 19:26] MikePulsiferDOL opened #5 "UX Review: Breadcrumbs"
There's breadcrumbs, but no navigation.

_note: being addressed in the developer.dol.gov redesign_

[2014-10-22 19:39] MikePulsiferDOL opened #6 "UX Review: White Space"
Needs more white space between sections.

[2014-12-17 13:50] MikePulsiferDOL opened #7 "Mock-up Home Page"
Mock-up the new home page.

[2014-12-17 13:55] MikePulsiferDOL opened #8 "Mock-up Experienced 2nd Level Page"
Mock-up 2nd Level Page targeted at experienced developers

[2014-12-17 13:55] MikePulsiferDOL opened #9 "Mock-up Beginner 2nd Level Page"
Mock-up 2nd level page targeted at beginning/novice developers or anyone new to web APIs.

[2014-12-17 13:57] MikePulsiferDOL opened #10 "Mock-up Content Page"
Mock-up page design to be used for SDK documentation, API documentation, and dataset documentation.

[2014-12-21 21:21] waltcerna opened #11 "Dataset & SDK page mockups"
Dataset detail tab pages and SDK page edits
![datasetdetails4](https://cloud.githubusercontent.com/assets/1934400/5519702/fc2e9ecc-892c-11e4-9b07-ca267dbfce32.jpg)

![datasetdetails_samples](https://cloud.githubusercontent.com/assets/1934400/5519701/fc2dc74a-892c-11e4-9567-ecaa584a0703.jpg)

![sdk_details2](https://cloud.githubusercontent.com/assets/1934400/5519703/fc2f3724-892c-11e4-8d10-b8bdc435

[2014-12-24 18:21] #10 closed, assigned to joey-spooner

[2015-01-02 19:09] waltcerna commented on #11
@spoonstein Here is the menu normal / rollover / down / active states (In that order)
![rollover_states](https://cloud.githubusercontent.com/assets/1934400/5598437/56ca8ec6-9284-11e4-94d1-e93081c69bda.jpg)

Here are the Details, Samples and SDK page with the new menu
![datasetdetails5](https://cloud.githubusercontent.com/assets/1934400/5598703/cb806214-9288-11e4-9861-d9500f3dcd20.jpg)

![datasetde

[2015-01-02 19:21] waltcerna commented on #9
@spoonstein new beginner page with new menu and gradient background on HOW API WORKS Intro section.
![novice5](https://cloud.githubusercontent.com/assets/1934400/5598817/8ba12708-928a-11e4-9e4d-9d624371990e.jpg)

[2015-01-02 19:24] waltcerna commented on #8
@spoonstein edits made and new layout with new menu. 2 options for the GET HELP and API DETAILS section.
![developers_mockup6](https://cloud.githubusercontent.com/assets/1934400/5598830/d4bde106-928a-11e4-98cc-3ce7d7b8814a.jpg)

![developers_mockup7](https://cloud.githubusercontent.com/assets/1934400/5598831/d4bfef14-928a-11e4-9d83-b77daaca9f55.jpg)

[2015-01-02 19:48] waltcerna commented on #7
@spoonstein here is the new menu on the homepage.
![dol_dev_mockup10](https://cloud.githubusercontent.com/assets/1934400/5599040/5432645e-928e-11e4-8c29-f4d63bfbbeb4.jpg)

[2015-01-02 19:53] spoonstein commented on #7
@waltcerna thanks! Please swap CPI and Labor Stats blocks.

[2015-01-02 21:17] waltcerna commented on #7
@spoonstein Edits made.
![dol_dev_mockup11](https://cloud.githubusercontent.com/assets/1934400/5599137/e58ae5ec-928f-11e4-8e16-de966f48b34f.jpg)

[2015-01-06 15:59] MikePulsiferDOL commented on #11
Something worth looking into to see if it's accessible: https://help.github.com/articles/about-gists/

[2015-01-06 21:16] jfc3-dol commented on #7
I suggest we left align the text under the following headings: "Labor Stats", "Consumer Price Index", and the smaller sections "Grab Our Code". Doing so will make it easier for all to read quickly and easily, even move so for those with reading issues such as dyslexia.

Here are a few resources:

http://uxmovement.com/content/why-you-should-never-center-align-paragraph-text/
http://wmich.edu/writi

[2015-01-06 21:23] jfc3-dol commented on #7
If the "API Keys" call to action is to stay in its current position it should have more contrast from the light gray background in the navigation. Plus, this call to action button is dark blue were the other call to actions buttons on the page were black or dark gray.

Part of the problem could be that image below it is dark in the upper right corner which is making it seem not to stand out.

We m

[2015-01-06 21:26] jfc3-dol commented on #7
I think the two call to action buttons on the first image should be bigger so people will notice them along with improving the color contrast so that they will be noticed more.

jfc iii

[2015-01-06 21:29] jfc3-dol commented on #7
We should make sure the color contrast of both the text and call to action button for the "Consumer Price Index" should be improved so people can read it better.

jfc iii

[2015-01-06 21:33] jfc3-dol commented on #7
Not sure if we should move the smaller heading under the "Grab Our Code" section should be moved on top of the images to help break things up a bit.

Plus, we should make sure to update the call to action button text, so it is not all the same.
jfc iii

[2015-01-06 21:38] jfc3-dol commented on #7
One last little detail it might make sense if we can re-create the image of the three phones under the "Labor Stats" section so the text on the phones points left instead of right. In the Unites States, most people read left to right, so it's helpful to have people look into your image from left to right as well. Doing so will help stop the person trying to look off screen.

jfc iii

[2015-01-07 18:15] jfc3-dol commented on #8
The call to action button for the "Developers Guide" section should be bigger to help people notice it, especially, since there is room to do so.

jfc iii

[2015-01-07 18:17] jfc3-dol commented on #8
The chosen text under the "Developers Guide" section and other parts of the comps is a bit thin, which can be an issue for ease of reading.

jfc iii

[2015-01-07 18:26] jfc3-dol commented on #8
From the second comp, I think we might have to add a bit more contrast to the text in the "API Details" and "Get Help" sections. It might make sense to have the images next to them as background images in the CSS. We would do this so we don't have to worry about ALT for them that would most likely be the same as the text next to them.

jfc iii

jfc iii

[2015-01-07 18:29] jfc3-dol commented on #8
In the second comp, we should add a heading to the section with the four images (red cross, chart, etc.). Plus making text below the either bolder or larger so people notice them.

jfc iii

[2015-01-07 18:37] jfc3-dol commented on #8
In the second comp, we should maybe break the information out into mobile and tablet information, along with one for web-based application information.

We will need to add additional text off-screen to differentiate between the different links. There are eight links that say "Git". The best way, to do this, might be for them to start like this:

Android Git
Apple iOS Git
Ruby Git
etc.

jfc iii

[2015-01-07 18:43] jfc3-dol commented on #8
In the second comp, the "Applications that Use Out API" section should have the headings below the images and lists moved above them so people will notice them. It's helpful for screen reader users, since source order matters the way they get the information. If we put the image and list first, people won't know what it's about or why it's there.

jfc iii

[2015-01-07 19:33] jfc3-dol commented on #9
From the second comp the call to action button for the Beginners Guide" section should be bigger to help people notice it, especially since there is room to do so.

jfc iii

[2015-01-07 19:33] jfc3-dol commented on #9
From the second comp the chosen text under the "Developers Guide" section and other parts of the comps is a bit thin, which can be an issue for ease of reading.

jfc iii

[2015-01-07 19:34] jfc3-dol commented on #9
In the second comp, we should maybe break the information out into mobile and tablet information, along with one for web-based application information.

We will need to add additional text off-screen to differentiate between the different links. There are eight links that say "Git". The best way, to do this, might be for them to start like this:

Android Git
Apple iOS Git
Ruby Git
etc.

jfc iii

[2015-01-07 19:35] jfc3-dol commented on #9
In the second comp, the "Applications that Use Out API" section should have the headings below the images and lists moved above them so people will notice them. It's helpful for screen reader users, since source order matters the way they get the information. If we put the image and list first, people won't know what it's about or why it's there.

jfc iii

[2015-01-07 20:02] jfc3-dol commented on #11
Is the dataset documentation comp and the samples comp going to be the sample except for the paragraph of text and the two drop down lists?

jfc iii

[2015-01-08 18:18] neilneyman commented on #7
@waltcerna Can someone please post, send, or point me toward the graphics & image files?

[2015-01-08 20:42] jfc3-dol commented on #11
On the dataset documentation comp, we need to rework the sentence that has the link as "HERE". Screen reader users will read that out of context and not understand what it is about.

jfc iii

[2015-01-08 20:49] jfc3-dol commented on #11
If we're going to show the link contents on hover or keyboard focus we, will have to make sure the color contrast is good and text is easy to read.

jfc iii

[2015-01-08 20:53] jfc3-dol commented on #11
I recommend we use the keyboard and screen reader accessible left-side secondary navigation that Shirley and I created for the new DOL secondary pages.

Ask me for the link if you want to see what I'm talking about.

jfc iii

[2015-01-08 20:57] jfc3-dol commented on #11
On the dataset documentation comp, I think we need to improve the layout/schema of the information so it's easier to read. My suggestion would be to make the text larger and add a bit of padding around it, so the rows don't blend together.

jfc iii

[2015-01-08 20:59] jfc3-dol commented on #11
All the same issues apply to the dataset samples comp.

jfc iii

[2015-01-08 21:07] jfc3-dol commented on #11
We should look for a better way to display the code examples that have better color contrast. Don't think people are going to be worried about having different colors to denote different parts of the code.

jfc iii

[2015-01-08 21:12] jfc3-dol commented on #11
One point, we should think about for all these comps, is we should use the template and CSS Shirley has built. Doing this will help us make the pages responsive, along with taking a lot of the guess work out of browser testing, etc.

We might have to make a few overrides to the CSS to get the look we are going for, but it's a great start.

jfc iii

[2015-01-08 21:12] jfc3-dol commented on #7
One point, we should think about for all these comps, is we should use the template and CSS Shirley has built. Doing this will help us make the pages responsive, along with taking a lot of the guess work out of browser testing, etc.

We might have to make a few overrides to the CSS to get the look we are going for, but it's a great start.

jfc iii

[2015-01-08 21:13] jfc3-dol commented on #8
One point, we should think about for all these comps, is we should use the template and CSS Shirley has built. Doing this will help us make the pages responsive, along with taking a lot of the guess work out of browser testing, etc.

We might have to make a few overrides to the CSS to get the look we are going for, but it's a great start.

jfc iii

[2015-01-08 21:13] jfc3-dol commented on #9
One point, we should think about for all these comps, is we should use the template and CSS Shirley has built. Doing this will help us make the pages responsive, along with taking a lot of the guess work out of browser testing, etc.

We might have to make a few overrides to the CSS to get the look we are going for, but it's a great start.

jfc iii

[2015-01-08 21:26] teo-siewwah commented on #7
Here is my feed back on the homepage mockup:

- Call of action: Add different color backgrounds on the buttons something like this
http://www.swebapps.com/.  Colors buttons help to improve interest, the visibility and differentiate the options.
- Labor Stats and Consumer Price Index, there are examples from the GRAB OUR CODE section
- For consistency, add brief description so that user at least kn

[2015-01-08 21:29] teo-siewwah commented on #9
My suggestion:

- IF background color added to the buttons on the CALL OF ACTION on the homepage, I think can add same color background on the header of the BEGINNERS GUIDE. This clearly show that this page is for that purpose.
- Add brief description for the DIVE INTO OUR DATASET
- Add color on text hypelinks so differentiate on other static text.
- Add brief description for the APPLICATIONS THAT

[2015-01-08 21:30] teo-siewwah commented on #8
My suggestion:

- IF background color added to the buttons on the CALL OF ACTION on the homepage, I think can add same color background on the header of the DEVELOPERS GUIDE. This clearly show that this page is for that purpose.
- Add brief description for the DIVE INTO OUR DATASET
- Add color on text hyperlinks

[2015-01-08 21:33] teo-siewwah commented on #11
My suggestion:

- When coming up the wireframe and functionality for this page, I am thinking that the left nav is sticky sidebar. Something like this http://cfpb.github.io/api/hmda/index.htm
- If this is 12 columns layout, I think the left nav can be about 3 columns or 3 instead of 4 columns as now it seemed. Leave more space for content especially some tables setting and sample scripts.
- the le

[2015-01-15 18:20] spoonstein commented on #11
@neilneyman fyi - in ref to @steo-dol 's link above, this is a good example of the "sticky"
http://cfpb.github.io/api/hmda/fields.html

[2015-01-15 21:32] jfc3-dol commented on #11
?That looks like a nice way to keep the header at the top of the page and the left-side navigation as long as it's not too long on the desktop version of the dataset pages.

jfc iii

John F Croston III

Senior Accessibility Specialist - (CTR)
Office of Public Affairs
U.S. Department of Labor
202-693-5058

________________________________
From: Joey Spooner <notifications@github.com>
Sent: Thursday

[2015-01-15 21:59] spoonstein opened #12 "Mockup: Mobile Homepage"
@waltcerna sketches from today's prototype design meeting.

![16100911698_e5a4cb7ecd_o](https://cloud.githubusercontent.com/assets/225617/5767578/aec17d3a-9cd7-11e4-85a8-50daf14a1958.jpg)
![16262514846_c9b304949f_o](https://cloud.githubusercontent.com/assets/225617/5767577/aec152ba-9cd7-11e4-8a7b-0106cfed960f.jpg)
![15666033144_06ef2be8d2_o](https://cloud.githubusercontent.com/assets/225617/576757

[2015-01-21 22:27] waltcerna opened #13 "Homepage (mobile)"
@spoonstein @MikePulsiferDOL This is the first version of the mobile site. With a mockup on the iphone 4. Thoughts?

![dev_iphone4](https://cloud.githubusercontent.com/assets/1934400/5846566/9358b47c-a192-11e4-8e8c-cecfe0d57c74.jpg)
![iphone4_mockup](https://cloud.githubusercontent.com/assets/1934400/5846567/9360126c-a192-11e4-9f3f-a4d17c5ccd5c.jpg)

[2015-01-22 13:40] MikePulsiferDOL commented on #13
I really like this.

A LOT.

[2015-01-22 14:23] steo-dol commented on #13
Love it!

The blue background banner for the DOL logo, I think we should stick to the red which is the DOL branding, I think.  Walter, I understand that your team have been using the blue for other use.

[2015-01-22 14:51] jfc3-dol commented on #13
I like the comp a lot. The color contrast for the "Beginner" and "Experienced" buttons is inadequate and should be 4.5:1 and they are both around 2.5:1.

The "Learn More" button over the chart is difficult to read because of color contrast issues too. If you could move the button above the graph that might make it work. Doing so would allow you to increase the font size of the heading next to it t

[2015-01-22 14:55] MikePulsiferDOL commented on #13
Are you talking about the contrast between the green and yellow or the colors and the white?

[2015-01-22 15:14] jfc3-dol commented on #13
Sorry, for the "Beginner" and "Experienced" buttons I was talking about the background color and the text. For the "Learn More" button, we have contrast issues for both the background color and text, along with the button and the graph.

Will need to check color contrast and for colorblindness issues between buttons.

jfc ii

[2015-01-22 16:59] jfc3-dol commented on #13
Here is what our new APIv1 home page will look like for the three main types of color blindness.

As you can see the simulation of Protanope is difficult to see the difference in colors, but having the icons with the words "Beginner" and "Experienced" under them is helpful.

![three main types of color blindness](https://cloud.githubusercontent.com/assets/10423487/5860185/b337da3e-a22d-11e4-9128-9

[2015-01-22 17:04] MikePulsiferDOL commented on #13
Given we have text associated with the icons, is the issue with button colors a deal-breaker?  We're not supposed to convey information with color alone anyway.

[2015-01-22 17:24] jfc3-dol commented on #13
Deuteranope - a form of red/green color deficit

![deuteranope](https://cloud.githubusercontent.com/assets/10423487/5860753/a36aa970-a231-11e4-9c03-117a0f74dcfa.png)

jfc iii

[2015-01-22 17:25] jfc3-dol commented on #13
Protanope - a form of red/green color deficit

![protanope](https://cloud.githubusercontent.com/assets/10423487/5860766/c7a664a0-a231-11e4-867f-8dfb1bce4b60.png)

jfc iii

[2015-01-22 17:26] jfc3-dol commented on #13
Tritanope - a blue/yellow color deficit - very rare

![tritanope](https://cloud.githubusercontent.com/assets/10423487/5860790/ec248b9a-a231-11e4-9a4b-3f083ae9c493.png)

jfc iii

[2015-01-22 17:30] jfc3-dol commented on #13
I hit the "Comment" button before I was finished and checked my text. So I went back and updated it with the following text.

Here is what our new APIv1 home page will look like for the three main types of color blindness.

As you can see the with the simulation of the "Protanope" color blindness, it's hard to see the difference in colors. Having the icons with the words "Beginner" and "Experience

[2015-01-22 20:44] jfc3-dol commented on #13
Correct we shouldn't convey meaning by color alone, but think we need to improve the color contrast as mentioned above so the icons can be noticed by as many people as possible. The more contrast we have within reason, the better people will notice the different icons and buttons.

When I talked with Walter, I mentioned we might want to think about which icons get which colors. What I mean is peop

[2015-01-27 14:38] waltcerna commented on #13
Here's and updated version of the mockup. Added in the red banner. Adjusted some of the hues and saturation. Changed the CPI section image to something more simple. I am open to ideas on what that image/icon/symbol should be. I made the button a solid color and moved to a better position.
Also made a few options for the menu. We have the popout, the pushdown, the slideout, the overlay. Just though

[2015-01-27 15:34] steo-dol commented on #13
I just have color issues:
- If red being used on the top banner, I think chose another color for the background of the KEYS button.
- The Burgundy of the menu is too close to the red too.  May be make it darker or black?
- Daniel or Neil, the Foundation CSS has great examples and scripts to do the drop down and slide out menu.

Check this out if you still use the foundation css.

Top Bar menus
htt

[2015-01-27 16:01] jfc3-dol commented on #13
Walter,

Thanks, for increasing the color contrast of the buttons in this comp. The yellow/gold one still does not have enough contrast. It's has a color contrast ratio of 2.29:1 when it needs to be 4.5:1.

Liking the different menu options as long as we can come up with a keyboard and screen reader accessible version that is responsive as well I'm okay with it. Will give this all a bit more thoug

[2015-01-27 16:23] jfc3-dol commented on #13
Looking at the comp further I noticed the red in the DOL header ( #9A0000 ) is different from the red  ( #990000 ) we currently use.

jfc iii

[2015-01-27 17:55] waltcerna commented on #13
@jfc3-dol
The red is #990000. Again when you use a color picker you will get different reds based on the pixel that the picker lands on. Per the PSD file the red is #990000.
Thanks!

[2015-01-29 21:05] spoonstein commented on #5
@MikePulsiferDOL please close this unless you feel we need to include breadcrumbs in the new layouts.

[2015-01-29 21:06] spoonstein commented on #6
I believe this is resolved via the new layout.
https://github.com/USDepartmentofLabor/Developer/issues/7

[2015-01-29 21:07] spoonstein commented on #4
@MikePulsiferDOL should this be a part of the editorial calendar that will highlight who is using it? If so, then I'll close this and point to a new ticket for an editorial calendar.

[2015-01-29 21:08] spoonstein commented on #3
Needs to be considered within the context of the documentation and data sampler.

[2015-01-29 21:08] spoonstein commented on #2
See #7

[2015-01-29 21:08] #2 closed

[2015-01-29 21:09] spoonstein commented on #1
See #7

[2015-01-29 21:09] #1 closed

[2015-02-02 19:04] #7 closed

[2015-02-02 19:04] #8 closed

[2015-02-02 19:04] #9 closed

[2015-02-02 19:04] #11 closed

[2015-02-02 19:06] spoonstein opened #14 "Homepage"
Include the location of the homepage on github.io

[2015-02-02 19:07] spoonstein opened #15 "Beginner page"

[2015-02-02 19:13] spoonstein opened #16 "SDK page"
Remember to include root page for SDK's and comment as you go each day.

[2015-02-02 19:15] spoonstein opened #17 "Dataset Page"

[2015-02-02 19:17] spoonstein commented on #12
Closing this one and switching to #13 as the current issue for mobile homepage.

[2015-02-02 19:17] #12 closed

[2015-02-02 19:23] spoonstein opened #18 "About Page"

[2015-02-02 19:27] spoonstein opened #19 "Support Page"

[2015-02-02 20:04] spoonstein commented on #15
Ref #9 for design. @waltcerna can give you slices.

[2015-02-02 20:05] spoonstein commented on #17
Ref #11 for design. @waltcerna can provide you with slices.

[2015-02-02 20:06] spoonstein commented on #16
Ref #11 for design. @waltcerna can slice up images for you when you're ready.

[2015-02-02 20:07] spoonstein commented on #14
Ref #7 for design.

[2015-02-02 20:10] spoonstein commented on #14
Also, within #7 please comment (here) with questions from #7 and answers for the UX/508 items.

[2015-02-02 20:11] spoonstein commented on #15
Please ref #9 for UX/508 concerns. Copy/paste questions into this issue so we can keep the thread here.

[2015-02-02 21:18] spoonstein commented on #14
URL - http://usdepartmentoflabor.github.io/Developer/

[2015-02-03 18:44] waltcerna commented on #13
Here is a mockup of the different sizes of the mobile homepage and what they would like on the different phones. From the iPhone 4s – 6+.

![mobile](https://cloud.githubusercontent.com/assets/1934400/6026684/bd799042-abaa-11e4-945b-14e4ba0b837c.jpg)

[2015-02-05 19:41] spoonstein commented on #14
@waltcerna update header with portal title.

[2015-02-05 20:01] spoonstein commented on #14
@neilneyman
* Use page title of "Developer Portal - United States Department of Labor".
* Fix the menu.
* Change order of Beginner and Experience buttons make font bigger or bold for all buttons on page.
* Left justify the "Labor Stats" text. Add more space between the two buttons in this section.
* Left justify the text in the "Consumer Price Index" section.
* Under "Grab Our Code" section need t

[2015-02-05 20:37] spoonstein commented on #13
@waltcerna

- [ ] Different red and gold background colors are needed
- [ ] Footer will be minimal one-liner with left-side (west-side) column

[2015-02-05 21:04] spoonstein commented on #19
No longer a page. This is a drop-down menu item with ...
* Ask Questions (stack exchange)
* Report Bugs (GitHub repo issues)

Later on it may also include
* FAQ
* Contact Us (right now this is resolved with links in header/footer and original links above)

[2015-02-12 20:20] waltcerna commented on #13
@spoonstein Here are the edits. Modified the colors a bit and added the footer.
![dev_iphone4 3](https://cloud.githubusercontent.com/assets/1934400/6176152/68189284-b2ca-11e4-8828-c408790d915f.jpg)

Above is the smaller screen, below is the larger screen

![large_smartphone2](https://cloud.githubusercontent.com/assets/1934400/6176150/681331c2-b2ca-11e4-8a61-288cb9512e4b.jpg)

And this is what it w

[2015-02-12 21:24] jfc3-dol commented on #13
Looking nice sir. The color contrast for the gold it still low, but people screen brightness and sun glare, etc. will affect these colors too.

[2015-02-12 21:39] waltcerna commented on #14
@spoonstein Updated Homepage with new header and alignment of text sections.

This is the new banner... had to shrink the search box a bit to be able to fit the social icons.
![banner](https://cloud.githubusercontent.com/assets/1934400/6177528/9b10395c-b2d5-11e4-8bba-fbe73b5916a8.jpg)

Homepage with new banner.
![dol_dev_homepage](https://cloud.githubusercontent.com/assets/1934400/6177527/9b0e821a

[2015-02-12 21:42] waltcerna commented on #15
@spoonstein
Updated Beginner page with icon from mobile version to keep consistency. Added the new banner as well.
![novice6](https://cloud.githubusercontent.com/assets/1934400/6177607/089198ae-b2d6-11e4-9223-961072cee40e.jpg)

[2015-02-12 21:44] waltcerna opened #20 "Experienced Page"
Ref #8 for previous comments and original thread.
Starting new issue for updates

[2015-02-12 21:45] waltcerna commented on #20
Updated experienced page with new icon and banner.

![developers_mockup7](https://cloud.githubusercontent.com/assets/1934400/6177679/822ed208-b2d6-11e4-8852-47946e316b16.jpg)

[2015-02-12 21:47] waltcerna commented on #13
@jfc3-dol I know... the gold/orange color is driving me insane... Thats the only one I can't seem to get passed the 508 checker.. to make it 508 it keeps giving me a brownish color which I refuse to use.

[2015-02-12 22:02] spoonstein commented on #13
Maybe consider a different color all-together?

From: Walter Cerna [mailto:notifications@github.com]
Sent: Thursday, February 12, 2015 4:47 PM
To: USDepartmentofLabor/Developer
Cc: Joey Spooner
Subject: Re: [Developer] Homepage (mobile) (#13)

@jfc3-dol<https://github.com/jfc3-dol> I know... the gold/orange color is driving me insane... Thats the only one I can't seem to get passed the 508 checker

[2015-02-19 19:18] MikePulsiferDOL commented on #16
Exploring the use of GitHub's gists: http://usdepartmentoflabor.github.io/Swift-Sample-App/

[2015-02-19 20:15] waltcerna commented on #13
@spoonstein This is the flow chart I have so far.
![currentflow](https://cloud.githubusercontent.com/assets/1934400/6275045/194dee4e-b84a-11e4-959a-8dfa48540fba.jpg)

[2015-02-22 01:57] spoonstein opened #21 "Experienced Page (mobile)"

[2015-02-22 01:57] spoonstein opened #22 "SDK Page (mobile)"

[2015-02-22 01:57] spoonstein opened #23 "Dataset Page (mobile)"

[2015-02-22 01:59] spoonstein commented on #20
@waltcerna please update the background color to match that of the mobile version. This goes for the coloring of the icons, text, button, etc. too.

[2015-02-23 15:56] spoonstein commented on #14
Tasks for @neilneyman

Header
[ ] Update navigation font size to reflect design

Grab Our Code
[ ] Remove description fields from Grab Our Code
[ ] Use title "SDK", etc. as button labels
[ ] Make icon and button as active links

[2015-02-23 16:00] spoonstein commented on #13
@waltcerna edits from our meeting last week.
- [ ] Hide logo
- [ ] Portal above DOL name
- [ ] More kerning in header title
- [ ] Regular case sub-nav items
- [ ] Let's discuss the button layout

[2015-02-23 21:40] waltcerna commented on #13
@spoonstein @MikePulsiferDOL  @jfc3-dol @steo-dol
Here is the new metro-like home page. Updated the header.
* Hid the Logo
* Flipped the Developer Portal text to be on top of the US DOL text.
* Added kerning and tracking to the text to open it up more.
* Made sure all colors pass 508.
[code]
![dev_iphone4 4](https://cloud.githubusercontent.com/assets/1934400/6337969/6d1039ec-bb79-11e4-9fa1-96dad94

[2015-02-23 21:45] neilneyman commented on #14
latest changes are up on developerportal

[2015-02-23 21:53] waltcerna commented on #15
@spoonstein
* Updated intro section to reflect color background and text color
![novice7](https://cloud.githubusercontent.com/assets/1934400/6338383/818e7336-bb7c-11e4-868a-1d9f4d89483c.jpg)
of  mobile homepage #13

[2015-02-23 21:54] waltcerna commented on #20
@spoonstein
* Updated background color and text/icon color to reflect mobile site.
![developers_mockup9](https://cloud.githubusercontent.com/assets/1934400/6338408/a8763042-bb7c-11e4-854f-839cd3d6f038.jpg)

[2015-02-24 16:13] spoonstein commented on #14
Thanks! Please add the following language underneath the header for Grab Our Code.

Use one of our many SDK's to quickly connect and query the DOL API as well as many other federal agencies. We offer SDK's in many popular languages including C#, PHP, Ruby, Objective-C, and Swift.

You can also download or browse our mobile, web, and desktop application source code to understand how we use the DOL

[2015-02-24 16:14] spoonstein commented on #20
@waltcerna please give @neilneyman the updated slice for the dev guide section.

[2015-02-24 16:27] spoonstein commented on #15
@waltcerna please provide @neilneyman the slices.

[2015-02-27 17:40] neilneyman commented on #14
@spoonstein added

[2015-02-27 18:17] neilneyman commented on #15
@spoonstein This has been updated

[2015-02-27 18:37] neilneyman commented on #20
@spoonstein updated

[2015-03-03 19:08] waltcerna commented on #21
## Developer page

![developer_main](https://cloud.githubusercontent.com/assets/1934400/6469961/92a2a416-c1ae-11e4-9c91-e3952de630d8.jpg)

![developer_dropdown](https://cloud.githubusercontent.com/assets/1934400/6469960/92a0927a-c1ae-11e4-8e6e-9c7cc07c70f5.jpg)

[2015-03-03 19:09] waltcerna commented on #23
## Datasets

![dataset_mainmenu](https://cloud.githubusercontent.com/assets/1934400/6470026/d4735d40-c1ae-11e4-8eb3-faa88b4a392b.jpg)

![dataset_2ndlevel](https://cloud.githubusercontent.com/assets/1934400/6470024/d46cd768-c1ae-11e4-86d7-4a7d41cf7ba7.jpg)

![dataset_3rdlevel](https://cloud.githubusercontent.com/assets/1934400/6470025/d47072ba-c1ae-11e4-871a-cf630d6e7d94.jpg)

![dataset_3rdlevel_de

[2015-03-03 20:54] waltcerna commented on #22
## SDKs

![sdk_main](https://cloud.githubusercontent.com/assets/1934400/6472047/8306a30e-c1bd-11e4-8451-125c070e33cc.jpg)

![sdk_2ndlevel](https://cloud.githubusercontent.com/assets/1934400/6472046/83069878-c1bd-11e4-9a1b-ada61b0664dc.jpg)

[2015-03-10 18:32] neilneyman opened #24 "Menu Bar"
@spoonstein What are our current thoughts on the "Support" section of the menu bar?  My notes indicate we want to:

1. Drop the "Support" section entirely
2. Make 2 links on menu bar (both top links  - no dropdown):
    * Questions (links to stack)
    * Report Bugs (links to new github issue)

[2015-03-10 18:34] spoonstein commented on #24
Your notes are correct. Please make the changes.

[2015-03-10 19:07] neilneyman commented on #24
@spoonstein Another thing: we had mentioned these links going directly to a new question page. This always works on stack exchange, but on github it leads to a "sign-in" page if you are not signed in already -- I think it might be better to just link to the issue list for bug reporting?  This is what v1.0 does.  https://github.com/USDepartmentofLabor/DOLAPI/issues

[2015-03-10 19:27] spoonstein commented on #24
That works. Please use https://github.com/USDepartmentofLabor/DOLAPI/issues/new instead of just /issues.

[2015-03-10 19:29] neilneyman commented on #14
Reassigning this to QA now, changes are on developerportal dev site

[2015-03-10 19:40] neilneyman commented on #24
@spoonstein
If you sign *in* on github it takes you back to the new issue page.  But to sign *up* you have to specifically click on the sign up link at the top and it does *not* automatically go back to the issue.   But the same thing will happen if you click from the issues page so I suppose that doesn't make a difference.

So just keep both links to the new issue?

[2015-03-10 19:45] spoonstein commented on #24
Yeeep. Keep the links pointing to the new issue for now.

[2015-03-12 16:03] spoonstein opened #25 "Beginners Page (mobile)"

[2015-03-12 16:05] waltcerna commented on #25
## Beginner Page

![beginner_iphone4 2](https://cloud.githubusercontent.com/assets/1934400/6621946/e8081b9a-c8af-11e4-83e9-df8e5f1e4c95.jpg)

![beginner_dropdown_iphone4 2](https://cloud.githubusercontent.com/assets/1934400/6621952/edcf41a2-c8af-11e4-8f9b-b0e28e6ab2ee.jpg)

[2015-03-12 16:07] waltcerna commented on #23
### New Dataset 2nd Level
![dataset_2ndlevel_v2](https://cloud.githubusercontent.com/assets/1934400/6622000/3a3d290a-c8b0-11e4-8a27-62a4fcf3a759.jpg)

[2015-03-12 20:35] neilneyman opened #26 "March release: Tweaks & Issues Checklist"
- [x] Buttons for sample & meta
- [x] Remove appchalenge info if present
- [x] Grab our code should go to "grab our code" section from beginner/exp page
- [x] Labor Stats: nix try it out:
- [x] Labor Stats Buttons: Ios (itunes), android (google play store), grab the code (gith
- [x] Grab our code on homepage increase font size
- [x] Change Apple ioS on Grab our Code to Obj-C
- [x] Remove Career an

[2015-03-16 15:49] spoonstein commented on #26
[ ] *Datasets:* Drop BLS from dataset prefix unless it's BLS Numbers
[ ] *Datasets:* Configure dataset tables to display and list tables if there is more than one table
[ ] *Datasets:* Nowrap on Data Type column for dataset tables
[ ] *Datasets:* Buttons in place of links for *Sample* and *Browse Metadata*

[2015-03-16 19:33] MikePulsiferDOL opened #27 "First Data Highlights Page (VETS-100/100A)"
Text:

The U.S. Department of Labor Veterans' Employment and Training Service (VETS) and Office of Federal Contractor Compliance Programs (OFCCP) have supported affirmative actions to employ and advance “covered veterans" in employment since 2008. Contractors and subcontractors who enter into, or modify a contract or subcontract with the federal government, and whose contract meets certain criteri

[2015-03-16 19:42] spoonstein commented on #27
@waltcerna this will replace the CPI block on the homepage. Feel free to update the treatment of that block with some of this information. @neilneyman please use graphics from @waltcerna and incorporate this content into a new folder "highlights/2015/" as "VETS100".

[2015-03-16 19:49] MikePulsiferDOL commented on #27
At the end of the content, please include a link to the VETS-100 dataset documentation.

[2015-03-16 20:40] spoonstein commented on #26
- [ ] **Homepage:** Labor Stats App - https://www.dol.gov/dol/apps/laborstats.htm
- [ ] **Homepage:** Source for Stats App (both) https://github.com/USDepartmentofLabor?query=stats
- [ ] **Beginners Guide:** Drop dataset sub navigation
- [ ] **Beginners Guide & Accessing the APIs Using .. :** Link up Request Authorization
- [ ] **Accessing the APIs Using .. :** Drop dataset sub navigation
- [ ] **

[2015-03-17 14:42] spoonstein commented on #17
@neilneyman for each dataset category, please refer to it's current landing page for content.
http://developer.dol.gov/dataset/health-safety
http://developer.dol.gov/developer-terms/keeping-what-you-earn
http://developer.dol.gov/dataset/expanding-growth-opportunities-learning
http://developer.dol.gov/dataset/others

[2015-03-17 14:47] spoonstein commented on #20
@MikePulsiferDOL can you provide links for the mobile and web/desktop apps?

[2015-03-17 15:17] spoonstein commented on #26
**Experienced Developers Page Links**
- [ ] URLs - link to accessing API using HTTP req's
- [ ] Encoding - postpone until further notified
- [ ] Authentication - link to Beginners Guide anchor on Accessing the API
- [ ] Dates - postpone until further notified

[2015-03-17 15:26] spoonstein commented on #26
**Beginners Page**
- [ ] Link to http://www.odata.org/ at the bottom where it's mentioned as OData.org
- [ ] Copy for Learn More section: Discover how our API works and how you can use it to access DOL data.

**All Pages**
- [ ] Ensure CSS is uppercasing content, don't uppercase using the keyboard

[2015-03-17 16:49] nmangu opened #28 "Test"
Ref. testing #20

[2015-03-17 16:51] #28 closed

[2015-03-17 17:00] neilneyman commented on #26
@spoonstein

### Still Need

* Links for Homepage Mobile & Desktop
* Links for Experienced:
  * URLS
  * Authentication
  * Encoding
  * Dates
* Where to link the page: Accessing the apis using http requests.  We mentioned putting this among the above experienced page links -- need a title and icon for it then

[2015-03-18 13:22] spoonstein commented on #26
Please add the second column to the footer.

 <div class="large-3 columns line-b-peach">
    <p><strong>ABOUT THE SITE</strong></p>
    <ul role="navigation">
      <li><a href="/dol/foia/">Freedom of Information Act</a></li>
      <li><a href="/dol/privacynotice.htm">Privacy &amp; Security Statement</a></li>
      <li><a href="/dol/disclaim.htm">Disclaimers</a></li>
      <li><a href="/dol/aboutd

[2015-03-18 13:50] spoonstein commented on #26
@neilneyman for lower portions on #15 and #20

**Mobile**
DOL Timesheet	https://github.com/USDepartmentofLabor/DOL-Timesheet
Labor Stats	https://github.com/USDepartmentofLabor?query=laborstat
OSHA Heat Safety	https://github.com/USDepartmentofLabor?query=heat-safety
Strategy Tracker	https://github.com/USDepartmentofLabor/StrategyTrackeriPad

**Web & Desktop**
API Status	https://github.com/USDepartm

[2015-03-18 15:34] spoonstein opened #29 "Configure CNAME file"
Please follow instructions at https://help.github.com/articles/adding-a-cname-file-to-your-repository/ to configure cname for developer.dol.gov.

Commit will be needed for this change by COB today.

[2015-03-18 17:31] MikePulsiferDOL opened #30 "Fork link in the footer"
Please add a "Fork this site" link in the third or fourth column in the footer that points to the site's repo.

[2015-03-18 18:15] waltcerna commented on #27
@neilneyman @spoonstein @MikePulsiferDOL
Heres the graphic that would go along with the highlight. Please let me know your thoughts/comments/questions/concerns/changes.

![vetgraph](https://cloud.githubusercontent.com/assets/1934400/6716067/2f28c8a8-cd79-11e4-8535-3ebfb0f54818.png)

[2015-03-18 18:17] MikePulsiferDOL commented on #27
looks great

[2015-03-18 20:02] waltcerna commented on #13
@spoonstein
## New designed homepage
Color pending... of course.
![mobile_dev_site_0006_homepage](https://cloud.githubusercontent.com/assets/1934400/6718166/137cc276-cd88-11e4-9b25-e5363b2239c8.jpg)

[2015-03-18 20:05] waltcerna commented on #25
@spoonstein
## Updated App section

### Main Beginner's page
![mobile_dev_site_0005_beginner main](https://cloud.githubusercontent.com/assets/1934400/6718211/5ccdc240-cd88-11e4-80d1-e9619808d7b1.jpg)

### Beginner's dropdown
![mobile_dev_site_0004_beginner dropdown](https://cloud.githubusercontent.com/assets/1934400/6718210/5ccba62c-cd88-11e4-9621-84c19c6f50b7.jpg)

[2015-03-18 21:00] spoonstein commented on #13
Thanks @waltcerna
Please ref #27 for VETS content, not CPI content.

The Apple/GPlay buttons need to reflect the Labor Stats App, not the stores.

[2015-03-18 21:16] #29 closed

[2015-03-18 21:18] neilneyman commented on #29
@spoonstein @MikePulsiferDOL I don't have access to settings for this repo, someone can verify this is correct by going to "settings->github pages"

[2015-03-19 16:22] MikePulsiferDOL commented on #26
- [x] Grab Our Code: ColdFusion (no space between the two words)
- [x] Beginners Guide: Should there be an apostrophe?
- [x] Beginners Guide: Accessing the API is blue and looks like a link
- [x] Browse our Data: Clicking the Expanding Growth and Opportunities menu item has the menu obscure the footer (separate issue?)
- [x] Browser our Data: Health and Safety is displayed on the page and twice
-

[2015-03-19 19:10] neilneyman commented on #26
1. [x] **sidebar** Hover Links:  underline and link blue
2. [ ] **sidebar** border colors
3. [x] **beginners-guide** remove request authorization page and paragraph
4. [x] **beginners-guide** convert accessing the api to button  Change accesing the api using http requests to "How to Customize your Request"
5. [x] **beginner's page** apostrophe:
6. [x] **experienced developer's** apostrophe
7. [x]

[2015-03-19 19:39] nmangu opened #31 "Web and Desktop - Was this page helpful - No suffix"
The link to 'Was this page helpful' has no '?' (Question Mark) as suffix.

URL's of the link tested:
/beginner/
/experienced/

![was_this_page_helpful](https://cloud.githubusercontent.com/assets/10868918/6739527/7cb52b44-ce4f-11e4-9fb0-24bba3fd386b.png)

[2015-03-19 20:57] MikePulsiferDOL commented on #14
Search needs to use USASearch to search developer.

[2015-03-19 21:15] waltcerna commented on #13
@spoonstein
Heres the updated home and the flow.

![mobile_dev_site_0009_homepage](https://cloud.githubusercontent.com/assets/1934400/6741094/599bf8b6-ce5b-11e4-8534-997a5531a5fe.jpg)

![currentflow](https://cloud.githubusercontent.com/assets/1934400/6741098/60decc8e-ce5b-11e4-8783-dd644621da80.jpg)

[2015-03-19 21:19] waltcerna commented on #21
@spoonstein
Updated Experience Page with new App section and dropdown... Couldn't remember what the new title for the page is supposed to be so left as is.

![mobile_dev_site_0006_experienced guide](https://cloud.githubusercontent.com/assets/1934400/6741188/fc56fa6a-ce5b-11e4-8073-bdb24bc1a271.jpg)
![mobile_dev_site_0005_experienced dropdown](https://cloud.githubusercontent.com/assets/1934400/6741

[2015-03-19 21:20] waltcerna commented on #22
@spoonstein
Updated dropdown.
![mobile_dev_site_0000_sdk dropdown](https://cloud.githubusercontent.com/assets/1934400/6741223/34aad53a-ce5c-11e4-923b-f933132f3371.jpg)

[2015-03-19 21:21] waltcerna commented on #23
@spoonstein
Updated 2nd view and 3rd view.
![mobile_dev_site_0002_datasets dropdown](https://cloud.githubusercontent.com/assets/1934400/6741254/60256fc2-ce5c-11e4-803f-93ab0fc25b6e.jpg)

![mobile_dev_site_0001_dataset details](https://cloud.githubusercontent.com/assets/1934400/6741253/602198a2-ce5c-11e4-8848-2eaa96876e94.jpg)

[2015-03-20 12:32] spoonstein commented on #19
Resolved with modifications to the menu system.

[2015-03-20 12:32] #19 closed

[2015-03-20 13:21] neilneyman commented on #31
This should be fixed now

[2015-03-20 13:21] #31 closed

[2015-03-20 13:22] neilneyman commented on #30
Added

[2015-03-20 13:22] #30 closed

[2015-03-20 19:05] neilneyman commented on #24
- [ ] Key Icon

[2015-03-20 19:21] jfc3-dol opened #32 "Developer Accessibility Issues"
I ran Compliance Sheriff against the new developer.dol.gov pages (50), the accessibility issues had to do with two main parts: the search field and TABLEs.

The search fields were missing a LABEL and text that can be placed visually off-screen and the ALT text for the magnifying glass, which should be "Search".

The TABLEs in the dataset pages need to SUMMARY statements, CAPTIONs, and the TH conne

[2015-03-20 19:42] jfc3-dol commented on #25
Really wish Apple and Google would have picked colors that have better or good color contrast.

[2015-03-20 19:45] jfc3-dol commented on #23
Liking how we have the gutter between buttons in red(ish). Not sure if it would be better to have the horizontal line go to the edge of the screen width to complete the button effect on a persons phone.

[2015-03-20 19:46] jfc3-dol commented on #22
Liking the gray gutter to create buttons, but think we need to make it darker for better color contrast.

[2015-03-20 20:08] jfc3-dol commented on #21
Are going to make the last three buttons the same color or make the Android one same as the other page? Plus, we have color contrast issues with the gray gutter and buttons.

[2015-03-20 20:11] jfc3-dol commented on #13
Nice, examples in the phone.

[2015-03-24 18:37] joey-spooner opened #33 "Search auto-complete not functioning"
GET file://search.usa.gov/javascripts/remote.loader.js net::ERR_FILE_NOT_FOUND

[2015-03-27 18:15] MikePulsiferDOL opened #34 "Swagger UI"
Will Swagger UI work and/or improve endpoint documentation?

Is it accessible?

http://swagger.io

[2015-03-30 14:41] MikePulsiferDOL opened #35 "APIv2 Documentation for Beginner"
Update site to include APIv2 Documentation for Beginner, alongside V1.

[2015-03-30 14:43] MikePulsiferDOL opened #36 "APIv2 Documentation for Experienced"
Update site to include APIv2 Documentation for Experienced, alongside V1.

[2015-03-30 16:44] joey-spooner opened #37 "Mobile Design Complete"
Complete all responsive design work for this round of work.

[2015-03-30 20:03] joey-spooner commented on #23
@waltcerna edits/changes
- [x] Dataset nav comp that uses bullets instead of grid format.
- [x] Flush left individual dataset content (location/description) and bold headings.
- [x] Use the same location url background styling as that of production.

[2015-03-30 20:05] joey-spooner commented on #13
@waltcerna edits/changes:
- [x] Update VETS layout as discussed in person
- [x] Update Labor Stats to use title, text, and single button (platform dependent) to download the app

[2015-03-30 20:07] joey-spooner opened #38 "Dataset navigation"
Should the dataset refresh to the selected parent category when browsing datasets?

Scenario is a developer would browse Explore Our Data, select Keeping What You Earn, and then select Health and Safety.

After pressing Health and Safety, shouldn't we direct users to the Health and Safety landing page?

[2015-03-31 18:23] waltcerna commented on #23
@spoonstein
Updated files.
![mobile_dev_site_0002_dataset-details](https://cloud.githubusercontent.com/assets/1934400/6925987/513d9dfa-d7b1-11e4-86c1-7b6441d7b1da.jpg)
![mobile_dev_site_0003_datasets dropdown v2](https://cloud.githubusercontent.com/assets/1934400/6925988/579cd2b0-d7b1-11e4-945a-ae6ae2ff4cbc.jpg)

[2015-03-31 18:23] waltcerna commented on #13
@spoonstein
Updated App section.
![mobile_dev_site_0010_homepage](https://cloud.githubusercontent.com/assets/1934400/6971145/675a4e38-d948-11e4-8b6d-a3cffcf0c75b.jpg)

[2015-04-02 14:59] waltcerna commented on #13
@spoonstein

## Current Flow

![currentflow_v2](https://cloud.githubusercontent.com/assets/1934400/6966477/57b8f324-d927-11e4-9028-9b3f8584a198.jpg)

[2015-04-02 15:12] joey-spooner commented on #13
Excellent. Looking forward to reviewing it tomorrow.

[2015-04-03 14:38] joey-spooner opened #39 "Missing documentation for .net SDK"
Documentation is missing http://developer.dol.gov/sdk/ for the .net SDK.  Documentation for .net SDK was stored in old site CMS and not via GitHub.

The best backup I can find is here, unless you, @neilneyman , have a db copy still within your development environment.

https://web.archive.org/web/20130625032617/http://developer.dol.gov/sdk-documentation/net-dol-data-sdk

[2015-04-03 14:49] MikePulsiferDOL commented on #39
For now, see https://github.com/USDepartmentofLabor/DotNet_DOLDataSDK/issues/3 for the SDK documentation.

For now, let's remove the links to the Sample app until that can be created in Github.

[2015-04-03 15:49] neilneyman commented on #39
I have an export for both the documentation and sample app website.  Do we actually have a sample app somewhere?

[2015-04-03 18:42] joey-spooner commented on #23
@waltcerna changes:
- [x] Dotted line (grey) separator between each dataset (no bullets)
- [x] No grid if more than 6 items, else grid
- [x] Alphabetize the list
- [x] Increase font size (if possible)
- [x] Balance font and icon sizing for dataset groupings
- [x] Include at least a two table listing in an updated layout ( Example: http://developer.dol.gov/health-and-safety/dol-osha-compliance/ )

[2015-04-03 18:43] joey-spooner commented on #22
@waltcerna SDKs not SDKS. ;)

[2015-04-06 15:06] MikePulsiferDOL opened #40 "Suggesting datasets"
Come up with a scheme for:
- A link to suggest new datasets, linking to https://github.com/USDepartmentofLabor/DOLAPI/issues
- A list of past and current data highlights

Thoughts: Should be visible to people reading data highlights and dataset documentation.

[2015-04-06 18:26] MikePulsiferDOL opened #41 "Google Analytics"
Add Google Analytics back in

[2015-04-06 18:39] neilneyman commented on #41
It should be there already, see: https://github.com/USDepartmentofLabor/Developer/blob/gh-pages/_includes/head.html#L21

[2015-04-06 18:56] MikePulsiferDOL commented on #41
My apologies.  It's even DAP-ready.

[2015-04-06 18:56] #41 closed, assigned to nobody

[2015-04-06 19:26] MikePulsiferDOL opened #42 "Safari Push Notifications"
Add Safari Push Notifications

[2015-04-14 18:26] waltcerna commented on #37
@spoonstein @MikePulsiferDOL @neilneyman @jfc3-dol @steo-dol
Here is a link to the prototype of the mobile version.
http://marvl.in/6116fi

You can load this up on your phone by typing in the link. You might be able to download the app and look at it through there as well. Not sure. But I do have it on my phone if that doesnt work.

[2015-04-14 18:48] joey-spooner commented on #37
Thanks!

[2015-04-14 19:51] #39 closed, assigned to neilneyman

[2015-04-15 12:43] MikePulsiferDOL commented on #42
Dialog isn't coming up.  Take the js code out of the separate file?

[2015-04-15 12:46] MikePulsiferDOL opened #44 "Add Chrome push notifications..."
...ideally with Pushwoosh support to simplify sending notifications.

http://thenextweb.com/dd/2015/04/14/latest-chrome-update-touts-push-notifications-and-security-improvements/

[2015-04-15 14:21] neilneyman commented on #42
Looks like the javascript is running, without errors, but it's automatically setting the permission to denied.  Checking in the safari developer console, I get 2 logged messages:
- This is a new web service URL and its validity is unknown.
- The user said no.

I found this: https://community.pushwoosh.com/questions/427/permissiondatapermission-denied-without-interaction  but it looks like our java

[2015-04-15 14:34] MikePulsiferDOL commented on #42
fixed.  Pushwoosh was set up to support two URLs.  I deleted one, leaving developer.dol.gov and the alert now comes up.

http://stackoverflow.com/questions/20036446/safari-push-notifications-return-denied-without-asking

[2015-04-15 14:34] #42 closed, assigned to neilneyman

[2015-04-16 16:01] waltcerna commented on #23
@spoonstein How about something like this for the tables selection and reveal? Another option, that I haven't mocked up yet is a drop down selection which iOS shows in a rolodex format, which would make it easier to choose a table. Just a thought. But here are the 2 screens for the detailed page.

## Main screen before selection of table

![dev_site_injuriesillness](https://cloud.githubusercontent

[2015-04-20 14:24] #14 closed

[2015-04-20 14:25] #15 closed

[2015-04-20 14:25] #20 closed

[2015-04-20 14:26] joey-spooner commented on #26
@neilneyman please spend some time this week closing out the remaining tasks on this issue.

[2015-04-21 20:36] joey-spooner commented on #13
@MikePulsiferDOL please review and confirm that you're ready for @neilneyman to break this down into code.

[2015-04-21 20:36] joey-spooner commented on #23
@MikePulsiferDOL please review and confirm that you're ready for @neilneyman to break this down into code.

[2015-04-23 12:51] MikePulsiferDOL commented on #13
👍🏼

[2015-04-24 14:13] MikePulsiferDOL commented on #23
👍🏼

[2015-04-27 12:56] joey-spooner commented on #37
@MikePulsiferDOL has confirmed the mobile design is complete. We'll start development soon.

[2015-05-14 18:30] #27 closed

[2015-05-15 12:29] MikePulsiferDOL opened #45 "May Data Highlight"
We need to highlight our request for feedback from the public on what datasets they would like to see from DOL.

TEXT:
Four years ago, we released our Labor Department-wide API with the hope that anyone who wants to build an app using our data could do so easily. At the time, we started off with three datasets. Today, we have around 200, including workplace injuries and illnesses, the unemployment

[2015-05-15 18:38] neilneyman commented on #45
http://developer.dol.gov/highlights/2015/tell-us-what-data-you-want/
&
http://developer.dol.gov

b07d1c3f6f53922de06433f2d1c34c2064df8dd3

[2015-05-15 18:38] #45 closed, assigned to neilneyman

[2015-06-23 20:27] neilneyman commented on #13
@MikePulsiferDOL For the platform-dependent Download Free App (labor stats) button,  my thinking is we should use the github repo as a fall-back option if the device is neither apple nor android?      This would be consistent with the three options on the desktop version

[2015-06-24 12:08] MikePulsiferDOL commented on #13
No.  If someone has a Windows phone, the source code won't help them any.  If they're not using iOS or Android, and it's not mentioned elsewhere in that "ad," then we should have it say "Available for iPhone and Android" in place of the buttons.

[2015-06-24 12:24] neilneyman commented on #13
@MikePulsiferDOL The most-recent design has a single button -- but the link is device-dependent.    Do we want to show something different for other devices?

[2015-06-24 12:34] MikePulsiferDOL commented on #13
Yeah, "Available for iPhone and Android"  Keep the buttons that we've been using where appropriate.

[2015-06-24 14:48] joey-spooner commented on #26
From checklist above. Please include update for "Report Bugs" to be "Report API Bugs" and update the Grab Our Code to reflect apps and a button to "Browse all DOL code" that points to https://github.com/USDepartmentofLabor

[2015-06-24 14:48] #37 closed, assigned to joey-spooner

[2015-06-24 14:51] joey-spooner commented on #38
Update navigation behavior so that when a single dataset is selected (i.e. http://developer.dol.gov/keeping-what-you-earn/whd-compliance/), you can select the "Keeping What You Earn" label and go back to the homepage for "Keeping What You Earn"

[2015-06-24 14:52] joey-spooner commented on #24
Please add in the key icon and get it from @waltcerna.

[2015-06-25 13:23] joey-spooner commented on #13
@neilneyman I spoke with @MikePulsiferDOL and confirmed the following configuration:
- If you're not Apple or Andriod, then remove the link and show text "Available for iPhone and Android"
- If you're on Apple or Android, then link to the appropriate store location and continue to hide "Available for iPhone or Android"

[2015-06-25 13:30] joey-spooner opened #46 "Enforcement Image"
We need an image for the developer.dol.gov enforcement dataset announcement today.

[2015-06-25 13:30] joey-spooner commented on #46
Check with @MikePulsiferDOL regarding potential concepts.

[2015-06-25 19:34] MikePulsiferDOL opened #47 "Breathing room for text"
The text needs some breathing room on the edges when sized for mobile.

[2015-06-25 19:35] MikePulsiferDOL opened #48 "Let sample code wrap, if possible"
If possible, let sample code wrap, rather than trigger side-scrolling.

[2015-06-25 19:39] MikePulsiferDOL opened #49 "Some markdown and HTML is displaying"
Some markdown and HTML is displaying (not rendering) on /beginners-guide/

[2015-06-26 13:54] MikePulsiferDOL opened #50 "Minor content edit"
The dataset consists of inspection case detail for approximately 100,000 OSHA inspections conducted annually.

should be...

The dataset consists of inspection case detail for approximately 90,000 OSHA inspections conducted annually.

[2015-06-26 18:23] joey-spooner opened #51 "Use Quarry for App Add Location on homepage"
Title: Quarry

Text: Use the same technology that runs DOL's next generation API.  Turn your databases into a single API with Quarry.

![quarry_sq](https://cloud.githubusercontent.com/assets/225617/8384439/ecbfe098-1c0e-11e5-8045-7b81984718ea.gif)

Button: Grab the Code [link to https://github.com/USDepartmentofLabor/Quarry]

[2015-06-26 18:24] joey-spooner commented on #51
Sound good, @MikePulsiferDOL?

[2015-06-26 18:24] joey-spooner commented on #51
Note, replaces LaborStats.

[2015-06-26 18:26] #13 closed

[2015-06-26 18:28] MikePulsiferDOL commented on #16
Let's move issues for SDK documentation design changes to those repos.

[2015-06-26 18:28] #16 closed

[2015-06-26 18:28] #22 closed

[2015-06-26 18:28] #17 closed

[2015-06-26 18:29] #23 closed

[2015-06-26 18:29] #21 closed

[2015-06-26 18:30] #18 closed

[2015-06-26 18:30] #25 closed

[2015-06-26 18:32] MikePulsiferDOL commented on #51
👍🏼

(that's a thumbs-up for those of you with less-capable systems :) )

[2015-06-26 18:33] #46 closed, assigned to waltcerna

[2015-06-26 21:00] neilneyman commented on #51
So we're also using to replace the mobile section that links to the app-stores?    My cool javascript device-detection bit only had a 3-day shelf life.
:octocat:

[2015-06-29 11:37] MikePulsiferDOL commented on #51
Temporarily.  It will come back.  Give it 3 weeks.

[2015-06-29 13:00] neilneyman commented on #51
This is updated on developerportal dev

[2015-06-29 13:15] neilneyman commented on #49
This has been updated on dev

[2015-06-29 13:33] neilneyman commented on #48
This has been updated on dev

[2015-06-29 13:49] neilneyman commented on #50
@MikePulsiferDOL Does this change apply to both of these datasets?
http://developer.dol.gov/health-and-safety/dol-osha-enforcement/
http://developer.dol.gov/health-and-safety/dol-osha-compliance/

[2015-06-29 14:03] MikePulsiferDOL commented on #50
Just the newer one.

[2015-06-29 19:18] #50 closed, assigned to neilneyman

[2015-06-29 19:18] #51 closed, assigned to neilneyman

[2015-06-30 16:15] neilneyman commented on #49
Fixed in commit 46187eebcb1a4ab03e42a629edecc291ccf04aac

[2015-06-30 16:15] #49 closed, assigned to nobody

[2015-06-30 16:16] #48 closed, assigned to nobody

[2015-06-30 16:40] neilneyman opened #52 "Mobile: Background overlapping into margins for some buttons"
Forcing side-scrolling on mobile

![overlap](https://cloud.githubusercontent.com/assets/4961683/8436283/1ac0e7f8-1f25-11e5-8bd1-bdf55846760e.png)

[2015-07-01 15:02] adams-lisa commented on #13
verification & UAT complete. Pushed to v1.0.0

[2015-07-01 15:04] adams-lisa commented on #25
verification & UAT complete. Pushed to v1.0.0

[2015-07-01 15:05] adams-lisa commented on #22
verification & UAT complete. Pushed to v1.0.0

[2015-07-01 15:44] MikePulsiferDOL opened #53 "Make Dataset names mixed-case"
V1 API is case sensitive with dataset names.  Developer.dol.gov currently displays dataset names as all upper-case.  Using all upper-case in API calls generates 404s.

[2015-07-01 16:01] neilneyman commented on #53
@jfc3-dol Did this get changed when you added the mobile datasets?  It looks like earlier versions were correct... eg https://github.com/USDepartmentofLabor/Developer/blob/v2.0.1/health-and-safety/_posts/2013-01-29-basic-mine-info.md

[2015-07-01 16:04] MikePulsiferDOL commented on #53
![developerallcaps](https://cloud.githubusercontent.com/assets/1970829/8459150/47e195f6-1fe9-11e5-912a-b5e19d42f457.png)

[2015-07-01 16:12] neilneyman commented on #53
I think we also want to reverse this so the caption is the exact match and the title header above is more like the description?  This is what Joey asked me to do on the enforcement page http://developer.dol.gov/health-and-safety/dol-osha-enforcement/

So in the pic mike posted above the corrected version would be:

### Consumer Price Index Table

More Information and details about the data...

con

[2015-07-01 16:15] MikePulsiferDOL commented on #53
Correct.  Test in browser to make sure it's right.  It's not necessarily consistent in V1.

[2015-07-01 17:21] MikePulsiferDOL opened #54 "Missing dataset"
FI_SUPERSECTOR is listed on developer, yet it is missing from the metadata.  Please remove.  If this table exists, we'll add it to data.dol.gov.

[2015-07-01 17:33] MikePulsiferDOL opened #55 "Missing datasets"
Please remove the following until they can be reincorporated via Quarry:
- [x] Statistics/OES/OE_OCCUGROUP
- [x] Statistics/OES/OE_STATEMSA
- [x] Statistics/CEW/EN_DATA_PUB
- [x] Statistics/CEW/EN_SERIES

Place a notice for the following for the users to use data.dol.gov.  Enforcement team shut these down.
- [ ] Compliance/OSHA/foodService - will not be moved to Quarry
- [ ] Compliance/OSHA/full -

[2015-07-01 19:31] MikePulsiferDOL opened #56 "Misnamed datasets"
- [x] Should be MSHA_addressOfRecord not addressOfRecord
- [x] /SafetyHealth/ChemicalExposureInspections, not /SafetyHealth/ChemicalExposureInspection

[2015-07-29 20:20] neilneyman commented on #53
Looks like there is simply from a text-transform: uppercase on h3 for the datasets, so this will be fixed in the next push

[2015-07-29 20:36] neilneyman commented on #55
@MikePulsiferDOL I don't understand the second part -- the users should use data.dol.gov but not for those specified datasets?  The current version of that page is linking to api.dol.gov; I'm not sure what we are trying to say...

[2015-07-29 20:50] #52 closed, assigned to neilneyman

[2015-07-29 20:50] #53 closed, assigned to nobody

[2015-07-29 20:50] #54 closed, assigned to nobody

[2015-07-29 20:50] #56 closed, assigned to nobody

[2015-07-31 13:20] joey-spooner opened #57 "Update site for scheduled maintenance - today"
Update entire site (via header) to indicate maintenance.

Message should be something like "The DOL API will be undergoing scheduled maintenance from 7/31 10 pm to 8/2 12 pm. During this time the API will be unavailable."

[2015-07-31 15:55] neilneyman commented on #57
Added.  Will close this when we remove the banner on Monday

[2015-08-03 18:33] #57 closed, assigned to neilneyman

[2015-08-03 19:45] jfc3-dol opened #58 "Skip Navigation and Internal Page Links Not Working in Safari and Chrome"
While doing some testing realized that the internal anchors on the developer dataset pages moved you down the page, but if using a keyboard would place you back at the top of the page.

After noticing this a friend (Paul J Adam) post on Twitter about a workaround by adding a tab index of negative one. Here is the link to Paul's example page where the first section is the broken version and the sec

[2015-08-04 18:58] neilneyman commented on #58
These changes are updated on dev

[2015-08-04 19:27] jfc3-dol commented on #58
Thanks, have reviewed the updated pages and found a few issues where some other commented out API information caused issues with mobile pages. Also changed the "Summer Jobs" page to have the API URL text wrap when in mobile and not allow the screen scroll left and right.

I have sent you the updated code. So can you please move them to the DEV server hopefully for the last time.

[2015-08-04 19:34] neilneyman commented on #58
Latest changes are now updated on dev.

[2015-08-04 19:43] jfc3-dol commented on #58
I do not see any of the updated changes on the DEV server.

[2015-08-04 20:02] neilneyman commented on #58
Fixed that, now waiting on another update...

[2015-08-04 21:04] jfc3-dol commented on #58
While adding the tab index of negative one (tabindex="-1") I found the following other issues and have corrected them. When making changes to dot MD files without a proper environment to check changes first makes these changes easy to miss.

**Health and Safety**
- Fatal Occupational Injuries - extra horizontal line that was not commented out correctly for mobile version of page
- Safety and Healt

[2015-08-05 12:15] neilneyman commented on #58
This is updated on DEV now.

[2015-08-05 15:25] jfc3-dol commented on #58
Have reviewed updates and everything are working as expected.

Can you move code to QA so we can run a UAT (User Acceptance Test) on these updates before moving to PROD server and updating GitHub with the new code?

[2015-08-05 15:34] neilneyman commented on #58
ok, this is now at developerportalqa

[2015-08-05 16:19] jfc3-dol commented on #58
While doing a quick check in QA I notice I forgot to have you place a tab index of negative one ( tabindex="-1" ) in the main content section of the page where the skip navigation anchor is located.

Can we correct that, please?

[2015-08-05 20:21] jfc3-dol commented on #58
After looking at the rest of the DEVELOPER website pages I have found the following pages either need to have tab index of negative one ( tabindex="-1" ) for their in-page anchors or for their main skip navigation anchor.

All pages listed below need to have their skip navigation anchor fix and ones with text after further explain what else on the page needs fixing.
- http://developer.dol.gov/
- h

[2015-08-06 12:45] neilneyman commented on #58
Those changes are all made on dev.  Note the [explore our data](http://developerportal.opadev.dol.gov/dataset/) and [grab our code](http://developerportalqa.opadev.dol.gov/sdk/) pages are both standalone and used as includes (for example in [Experienced](http://developerportalqa.opadev.dol.gov/experienced/)  (These are all qa site links).   So on beginner and experienced that meant multiple locati

[2015-08-06 13:38] jfc3-dol commented on #58
The following pages still have issues with their mobile versions:
- http://developer.dol.gov/
- http://developer.dol.gov/beginner/
- http://developer.dol.gov/experienced/

The in page anchors  for API DOL.gov tab. We might want to look into making page easier to read on mobile devices.
- http://developer.dol.gov/accessing-the-apis-using-http-requests/

[2015-08-06 16:36] jfc3-dol commented on #58
Thanks, for making the necessary updates. I have tested them on the DEV serve and they look great. Now it's on to the QA server to do UAT (User Acceptance Test).

[2015-08-11 13:35] neilneyman commented on #36
Fixed by 195c01cd

[2015-08-11 13:37] neilneyman commented on #55
Removed 4 Statistics datasets via 85adfc75.  Still need clarification about the rest.

[2015-08-11 15:28] adams-lisa commented on #23
Supporting documentation included.  Close

[2015-08-11 15:31] adams-lisa commented on #58
Configuration file was updated on this change to reflect updates.

[2015-08-12 14:41] jfc3-dol commented on #58
Reviewed the issues listed above and spot checked the dataset pages for the correction in Chrome. Everything looks good, so we can close this issue.

[2015-08-12 14:59] jfc3-dol commented on #32
Had the tech team correct the missing SEARCH LABEL, along with adding the ALT text of "Search" for the magnifying glass button/icon.

The first pass of fixing the dataset pages I added SUMMARY statements, CAPTIONs, TH (for TABLE headings), and scope="col" too. Once these changes were made and checked by QA, we moved the changes to PROD/GitHub.

Next we created a mobile friendly version of each of

[2015-08-12 17:04] adams-lisa commented on #32
QA validation complete.  Closed

[2015-08-12 17:04] #32 closed, assigned to nobody

[2015-08-12 17:07] adams-lisa commented on #58
QA review complete.   Closed

[2015-08-12 17:07] #58 closed, assigned to MikePulsiferDOL

[2015-08-14 13:22] neilneyman opened #59 "Dataset pages - switch labels"
Example: http://developer.dol.gov/keeping-what-you-earn/whd-compliance/#foodservice

![foodservice](https://cloud.githubusercontent.com/assets/4961683/9274632/7484622a-4265-11e5-8684-77e133f026da.png)

I think the labels on the dataset pages should be flipped -- so the table caption would contain the actual mixed-case table name (`foodService`.)  Then the text above would have the descriptive titl

[2015-09-28 15:33] joey-spooner opened #60 "ILAB Child Labor Release"
Please use the following files to generate the forthcoming data highlight and release.

[Data.gov blurb final.docx](https://github.com/USDepartmentofLabor/Developer/files/3713/Data.gov.blurb.final.docx)
[Developer.dol.gov ILAB API Metadata page.docx](https://github.com/USDepartmentofLabor/Developer/files/3712/Developer.dol.gov.ILAB.API.Metadata.page.docx)
[Developer.dol.gov ILAB API highlight page

[2015-09-29 18:25] neilneyman commented on #60
@jfc3-dol if you can start looking at this, the desktop version of the dataset is now on dev (developerportal.opadev)    Also the main page blurb and data highlight pages are there

[2015-09-29 18:39] jfc3-dol commented on #60
Why is the home page - http://developerportal.opadev.dol.gov/ missing the image? Because of that there is a big gap in the page. Plus, I can't see the white text on the white background when it's missing.

On the ILAB Child Labor page - http://developerportal.opadev.dol.gov/highlights/2015/ilab-child-labor/ the link with text of "**source code**" is not working. It's pointing to http://developerpo

[2015-09-29 18:56] neilneyman commented on #60
1. Image was missing because of file ownership/permissions problem when my script copied a new image up.  I think I have that fixed now.
2. needed to clarify what link I needed, fixed now
3.  I fixed the link but... @MikePulsiferDOL that was the link they provided, still goes to a page not found
4. File layout is in the "ILAB API metadata page" docx file above.  Or if you want to just curl it I'll

[2015-09-29 19:42] jfc3-dol commented on #60
The "Advancement Level" table field "advancement_name " is missing most of the description.

The "Country Profile" table has incorrect description for the "country_id" field.

The "Country Statistics" table has a truncated field name for "cws_total_percentage_of_working_children"

The "Country Master Data Table" has a bunch of fields that have truncated names:
- convention_on_the_rights_of_the_chi

[2015-09-29 19:56] neilneyman commented on #60
@spoonstein  @MikePulsiferDOL  Looks like we're just about ready to push the version on developerportal/developerportalqa now unless anyone else or @jfc3-dol finds anything pressing first

[2015-09-29 20:26] jfc3-dol commented on #60
Everything looks good.

Would you be able to update the TABLE SUMMARY to be summary="ILAB - Child Labor - xyz" where the **XYZ** is what ever TABLE name is there now?

[2015-10-06 15:47] MikePulsiferDOL opened #62 "Rethink API v1/v2 content"
More than one developer has gotten confused by the tabbed interface separating the v1 and v2 usage instructions.  We need to come up with a better way to present this information.

[2015-10-06 16:14] neilneyman commented on #62
Would it be clearer if we simply moved the tabs to the center [like on the quarry site](http://usdepartmentoflabor.github.io/Quarry/) ?   Maybe also change something about the way they're labeled

[2015-10-06 16:21] joey-spooner commented on #62
I'm voting for two separate pages with a clear indicator for V1 and V2. Can we filter the documentation on datasets to show what V1 offers versus V2? That would help a developer decide which approach was needed.

[2015-10-06 16:22] MikePulsiferDOL commented on #62
I think we need to do some A/B testing.  When we get to that point, I will arrange for another outside UX review.  I would like to see a few options first, though.

[2015-10-07 12:22] #40 closed, assigned to nobody

[2015-10-07 12:25] MikePulsiferDOL opened #63 "Make usage instructions clearer"
The guides are focused solely on using CURL from a command line. This syntax will not make sense to someone who won't use this interface (e.g. iOS developer). Include a breakdown of the syntax to describe what is necessary (e.g. submitting the key in the header of the HTTP request).

[2015-10-07 14:57] neilneyman commented on #63
It does get explained more thoroughly on the initial page at http://developer.dol.gov/beginners-guide/.    But I agree that we need to provide some more information on the curl page as well...

[2015-10-14 15:25] jfc3-dol commented on #62
Quick thought off the top of my head is maybe to have both versions on the same page but have in-page anchors to the different versions. Not sure if you want V1 or V2 first since there are not many datasets so far converted to V2.

[2015-10-14 15:36] MikePulsiferDOL commented on #62
One of the issues is that the user apparently doesn't know to look for the other content and just goes with what's in front of them.  I think we need to find a way to ensure they consciously choose V1 or V2.

[2015-10-14 15:39] neilneyman commented on #62
The mobile version seems to have that problem solved -- perhaps a solution for desktop would also hide both tabs content until one is selected?

[2015-11-30 19:43] MikePulsiferDOL opened #64 "Document Offset"
Offset is a valid filter, but it's not documented on the developer site.

[2016-01-04 23:32] Ray-B opened #65 "HTTP POST for new DOL Online Reporting of Serious Incidents?"
Maybe Neil can shed some light on this, but the DOL's OSHA Team now has an online form for submitting serious workplace incidents (https://www.osha.gov/pls/ser/serform.html)

Wondering if adding an HTTP POST in the DOL API for this is within the scope of this API?

It might be possible, though I haven't tried, to post directly to the same endpoint that the form is submitting to, but I would suspec

[2016-01-05 15:15] MikePulsiferDOL commented on #65
This is definitely in our long-term plans.  I can't give you a date when it will be implemented yet, though.

[2016-01-05 17:43] Ray-B commented on #65
Thanks for the clarification here Mike. Is there a a way to reach out to you and Neil without cluttering up the issues area?

Cheers.

[2016-01-05 18:20] MikePulsiferDOL commented on #65
Actually, we're happy using GitHub issues, especially if there's a chance someone else can benefit.

[2016-06-14 17:38] vinoo999 opened #66 "Broken link"
On the [Developer's Beginner's Guide](http://developer.dol.gov/beginners-guide) the link at the bottom referring to HTTP Requests is broken: http://developer.dol.gov/accessing-the-apis-using-http-requests/
Should instead be without the final forward slash: http://developer.dol.gov/accessing-the-apis-using-http-requests

[2016-06-14 18:46] MikePulsiferDOL commented on #66
Thanks.  We've had to make these fixes ever since Github tweaked their back-end.  I'll have someone else look at this before I close it.

[2016-06-14 19:17] jfc3-dol commented on #66
Finished testing the two broken links and they work.

[2016-06-14 19:19] #66 closed, assigned to jfc3-dol

[2016-09-05 14:16] darth-cheney opened #67 "DOL API Examples Not Valid / Errors"
Hi. We have registered and done everything in the steps on the API site, but still cannot get queries to `data.dol.gov` to return properly (and yes, we are using the key header and token). For example, in the documentation there is the following sample query:

[code]

This ends up returning HTML with an error page:

[code]

Perhaps there is some kind of routing/DNS issue on the server?

**Other AP

[2016-12-23 16:09] waldoj opened #74 "Status of WHPS endpoint?"
For [this DOL project at 18F](https://github.com/18F/Paid-Leave-Prototype), it'd be helpful to have API-based access to state minimum wage data. If I properly understand [this Stack Exchange interaction](http://opendata.stackexchange.com/questions/9988/minimum-wage-data-via-dol-api), that endpoint is temporarily down. Am I correct that this is data that is hypothetically offered via the API? If so

[2016-12-26 16:11] adevoid opened #75 "Dead Links to Dataset Download Page"
I am not able to access this link and download the datasets it has on it. I can only view a snapshot of this page from a google cache taken on December 23rd.
http://ogesdw.dol.gov/views/data_catalogs.php
This link also does not work:
http://api.dol.gov/V1/Compliance/WHD/

I want to download the Wage and Hour Compliance Action Data, but I can't find a working link anywhere.

I have been redirected

[2016-12-27 14:37] giridhar commented on #75
AFAIK To access the data you need to have the API key to the developer.dol.gov. Once you have the API key you can access the data in the following way.

`http://api.dol.gov/V1/Compliance/WHD/full?key=1234-5678-90`

you can look at the datasets and how to use the api in the following documents

`http://developer.dol.gov/beginners-guide`

[2016-12-27 21:18] adevoid commented on #75
Thanks, I got an API key and plugged it in and got the XML, however it doesn't seem to have as much information in it as the excel document had that I had downloaded a while ago. Am I doing something wrong? How can I look at all of the compliance data?

Also how do I follow the below instructions to get it in json? I appreciate your help.

[2016-12-29 15:54] giridhar commented on #75
Right now the server responds in xml . You may have to depend on libraries that can convert xml to json.

[2016-12-29 16:03] neilneyman commented on #75
It will also respond in json.  You need to add the header "Accept: application/json" to your request to get it back as json.     If this is a curl request, for example, use something like:
`curl -H "Accept: application/json" "http://api.dol.gov/V1/Compliance/WHD/full?key=1234-5678-90"`

If you are using a programming language to do this, you may be able to find some examples in the SDKs https://gi

[2017-02-13 19:23] MrSampson commented on #67
I would love to hear the response to this. I can find nothing that allows me to actually use the DOL API as described on the website.

[2017-03-10 13:58] #75 closed, assigned to nobody

[2017-04-06 20:51] zshapleigh commented on #67
DATA.DOL use this
WebRequest request = WebRequest.Create(new Uri(uri));
                    request.Method = "GET";
                    request.Headers.Add("X-API-KEY", DOLApiKey);
                    request.ContentType = "application/json; charset=utf-8";
                    WebResponse response = request.GetResponse();
                    ret = new StreamReader(response.GetResponseStream()).Rea

[2017-06-27 17:28] tinglesby87 opened #91 "Sweat and Toil, no easy way to pull the data"
The directions to pull tables on the site does not work with either of the Sweat and Toil data table sections.  This is exceedingly difficult, if not impossible.  It would be helpful if you provided more explicit directions on your website on how to pull the data for those sections.  Or take it off the website and stop promoting that that data is accessible if it is not.

[2017-06-27 17:37] giridhar commented on #91
@tinglesby87 It appears to be an issue connecting to the dataset. we will take a look and fix this.

[2017-07-05 13:08] giridhar commented on #91
The dataset issue has been addressed. Please try `curl -k -H "X-API-KEY: yourkey" https://quarry.dol.gov/get/SweatToilAllCountries/format/json/limit/10`

[2017-07-05 13:08] #91 closed, assigned to nobody

[2017-07-07 16:11] matthenry87 commented on #74
Would also like to know when the WHPS endpoint will be working.

Thanks

[2017-07-11 18:15] giridhar commented on #74
we are looking into this, Will keep you posted.

[2017-07-11 18:18] waldoj commented on #74
Thank you, @giridhar!

[2017-07-11 18:28] matthenry87 commented on #74
Great thank you so much!

Can you confirm that the WHPS would provide programmatic access to State Minimum Wage data? At a glance it seems to just provide access to Documents and Publications. It would be ideal for my application that I could access State Minimum Wage date without having to scrape it from a document/publication.

Thanks

[2017-08-07 17:53] mseew opened #98 "Current Population Survey LE_SERIES table throwing 404 error"
Replacing a (working) table name in a URL with the LE_SERIES table leads me to a page not found error.

[2017-08-07 17:59] giridhar commented on #98
@mseew can you try getting the data with the follwing url ? http://api.dol.gov/V1/Statistics/CPS/LE_AGES?key=yourkey

[2017-08-07 18:02] mseew commented on #98
Just tried. That works. When I replace "AGES" with "SERIES" I get the 404.

[2017-08-07 18:06] giridhar commented on #98
Got it. We will check and get back to see whats going on. tnx

[2017-08-07 18:38] mseew commented on #98
Thank you. Would also be great to get a table detailing the components of the Series ID. Currently all the codes are in various tables but I can't see what order to put them together into a Series ID. I'll make another Issue.

[2017-08-07 18:40] mseew opened #99 "Current Population Survey Series ID mapping"
The docs should include the formula for building a series id. From just the table & field lists it is unclear.

For example, I'm looking for monthly data for a specific state for the entire population over 18. What codes do I use (and in what order) to find that specific series id?

[2017-09-06 20:21] jfc3-dol opened #100 "DAD - Add Global Messaging to All Pages"
We need to have the ability to add individual dataset page messages. So we can tell everyone that comes to that dataset page that APIv3 version is coming soon and the current version (APIv1 or APIv2) will be replaced by APIv3 by a given day.

My suggestions is to create a messages folder with an HTML file with the datasets name that we can place messages in or remove them too.

Health & Safety dat

[2017-09-06 20:25] jfc3-dol opened #101 "DAD - Add Ability to Have Datset Page Messages"
We need to have the ability to add individual dataset page messages. So we can tell everyone that comes to that dataset page that APIv3 version is coming soon and the current version (APIv1 or APIv2) will be replaced by APIv3 by a given day.

My suggestions is to create a messages folder with an HTML file with the datasets name that we can place messages in or remove them too.

Broke the issue int

[2017-09-06 20:31] jfc3-dol opened #102 "DAD - Health & Safety - Add Ability to Have Datset Page Messages"
We need to have the ability to add individual dataset page messages. So we can tell everyone that comes to that dataset page that APIv3 version is coming soon and the current version (APIv1 or APIv2) will be replaced by APIv3 by a given day.

My suggestions is to create a messages folder with an HTML file with the datasets name that we can place messages in or remove them too.

The  Health & Safet

[2017-09-06 20:36] jfc3-dol opened #103 "DAD - Wage & Hour Division Data - Add Ability to Have Datset Page Messages"
We need to have the ability to add individual dataset page messages. So we can tell everyone that comes to that dataset page that APIv3 version is coming soon and the current version (APIv1 or APIv2) will be replaced by APIv3 by a given day.

My suggestions is to create a messages folder with an HTML file with the datasets name that we can place messages in or remove them too.

The Wage & Hour Div

[2017-09-06 20:48] jfc3-dol opened #104 "DAD - Expanding Growth Opportunities & Learning - Add Ability to Have Datset Page Messages"
We need to have the ability to add individual dataset page messages. So we can tell everyone that comes to that dataset page that APIv3 version is coming soon and the current version (APIv1 or APIv2) will be replaced by APIv3 by a given day.

My suggestions is to create a messages folder with an HTML file with the datasets name that we can place messages in or remove them too.

The Expanding Growt

[2017-09-06 20:50] jfc3-dol opened #105 "DAD - Other - Add Ability to Have Datset Page Messages"
We need to have the ability to add individual dataset page messages. So we can tell everyone that comes to that dataset page that APIv3 version is coming soon and the current version (APIv1 or APIv2) will be replaced by APIv3 by a given day.

My suggestions is to create a messages folder with an HTML file with the datasets name that we can place messages in or remove them too.

The Other pages con

[2017-09-06 21:12] jfc3-dol commented on #100
Need to add pages to the miscellaneous pages section.

[2017-09-13 18:16] dinakarankec opened #106 "API key is invalid"
@MikePulsiferDOL @Supreet7 @supreetkohli
I generated a access key from https://devtools.dol.gov/developer after signing up, lets say "API_TOKEN". I accessed the inspection information from through curl command with the following command. But still i'm getting the invalid API key. How to resolve this.

`curl -H "X-API-KEY: API_TOKEN" https://data.dol.gov/get/inspection/limit/5`

[2017-09-14 18:11] gokulanath opened #107 "API v2: Invalid API Key"
Getting invalid API key response when using PHP SDK, curl operation and POSTMAN
[code]

RESPONSE:
[code]

Note: The same key is working for http://api.dol.gov/V1/DOLAgency/Agencies

For v2 is there any other way to generate API key or same place https://devtools.dol.gov/developer/Tokens/Details/ and also i didn't received any API token email, i just copied it from developers details page.

If you

[2017-09-18 13:23] giridhar commented on #107
@gokulanath I have re-sent your api key.

[2017-09-18 13:23] #107 closed, assigned to nobody

[2017-09-18 14:35] gokulanath commented on #107
@giridhar Thanks for your time to look in to the issues.

[2017-09-18 17:24] giridhar commented on #106
@dina-ideas2it I have just tested and I see the data requested

    {
        "activity_nr": "340961200",
        "reporting_id": "0257220",
        "state_flag": null,
        "estab_name": "PARTY LINE INC",
        "site_address": "CARR 1 KM 28.6BO RIO CANAS",
        "site_city": "CAGUAS",
        "site_state": "PR",
        "site_zip": "00725",
        "owner_type": "A",
        "owner_code":

[2017-09-28 01:29] CloudspyreSteve commented on #98
I have the same problem.  Can you add me to the list of folks to contact when you get the LE_SERIES problem worked out.  I have 50+ downloads per day of my app and none of them can get salary data.

[2017-10-02 19:49] CloudspyreSteve commented on #98
Any word on this?

[2017-10-02 20:06] giridhar commented on #98
There few different teams involved in fixing this. I will follow up and let you know once I have an update.

[2017-10-02 20:08] giridhar commented on #74
@waldoj WHPS data should be able to get the data using https://data.dol.gov/get/publications_view. we are in the process of updating the developer.dol.gov site.

[2017-10-11 17:29] #74 closed, assigned to nobody

[2017-10-11 17:30] giridhar commented on #74
Closing this as the website had been updated and the dataset connectivity is working.

[2017-10-11 19:05] matthenry87 commented on #106
I am also experiencing this problem. When I navigate to the following URL:

https://data.dol.gov/get/publications_view?KEY=[KEY HERE]

I get:

{
    "status": "",
    "error": "Invalid API Key "
}

I even tried generating a new Key/Token and am getting the same result.

[2017-10-11 19:10] matthenry87 commented on #74
I am unable to use https://data.dol.gov/get/publications_view as I am receiving the 'Invalid API Key' message with 2 separate keys. I added a comment to the other relevant thread about this issue.

Also, I am still not clear if this API will provide programmatic access to State Minimum Wage data. Will this API allow me to automate the process of obtaining the Minimum Wage for each State?

[2017-10-11 19:31] giridhar commented on #106
@matthenry87 whats the email used to generate API key ? I can look up and see why you are getting an invalid key.

[2017-10-11 19:36] matthenry87 commented on #106
I was just able to make it work using Postman. I had to move the API key into a request header of type 'x-api-key.

Initially hitting the URL https://data.dol.gov/get/publications_view resulted in:
{
    "status": "0",
    "error": "Not Acceptable. Limit must be numeric. Error:406"
}
instead of returning the first 100 as outlined in your documentation.

It does return data when I hit https://data.

[2017-10-11 19:41] giridhar commented on #106
@matthenry87 Let me check and get back to you.

[2017-10-23 18:17] mthelm85 opened #112 "503 - Service Unavailable Error"
Hello,

When trying to pull from the "http://api.dol.gov/V1/Compliance/WHD/" dataset, I get a 503 error, no matter the table that I try to pull from.

Thanks,

Matt

[2018-01-29 22:16] jalbertbowden opened #117 "IMIS Codes"
IMIS Codes that once lived here: http://www.dol.gov/open/xls/IMISCodes.xlsx
now 404, and a search on your site for "IMIS Codes" does not show them in first three pages of results, even though the terms are in the document's name.

[2018-01-29 22:22] jalbertbowden commented on #117
they actually live here: http://developer.dol.gov/docs/IMISCodes.xlsx
when you all would like to chat about redirects/not breaking URIs, as well as not pushing your user support off onto open data stack exchange, please get in touch.

[2018-01-29 22:22] #117 closed, assigned to nobody

[2018-02-06 10:42] CloudspyreSteve commented on #98
It's been 4 months and this still doesn't work.  My app has been pulled from the Apple app store now.  WTF?

[2018-04-06 11:57] navarretedaniel opened #123 "OSHA Enforcement - Violation Table - Date Format"
`https://data.dol.gov/get/violation`

The documentation for the OSHA Enforcement [Violation table](https://developer.dol.gov/health-and-safety/dol-osha-enforcement/#osha_violation) indicates that the "issuance_date" and "abate_date" columns are formatted as `(yyyymmdd)`.

The [Beginner's Guide](https://developer.dol.gov/accessing-the-apis-using-http-requests/) for v2 indicates that searching by da

[2018-05-15 13:49] RobertPRanney commented on #106
I am having the same issue as described here, is there any update on this?

[2018-05-15 14:27] giridhar commented on #106
We have sent a request to the concerned agency if they can publish the State Minimum Wage data.

[2018-05-21 15:00] giridhar commented on #106
Agency responded and the data is maintained on this website. https://www.dol.gov/whd/minwage/america.htm

[2018-05-21 15:00] #106 closed, assigned to nobody

[2018-05-21 15:05] matthenry87 commented on #106
Ah, so you're saying that you don't plan to provide State Minimum Wage data programmatically via an API?

[2018-05-21 15:09] giridhar commented on #106
NO. We just started discussions and will move this to the API as soon as possible.

[2018-05-22 20:38] RobertPRanney opened #124 "Broken api endpoint"
Hello, not exactly a bug, but not sure who to contact.

The api for osha inspections seems to be documented to exists here: https://api.dol.gov/V1/Compliance/OSHA

It seems that it is sort of available to hit:
![image](https://user-images.githubusercontent.com/18563370/40388468-e3cc2714-5dcc-11e8-8c46-735e720ea33f.png)

But the individual tables don't seem to exist:
![image](https://user-images.gi

[2018-05-22 20:44] giridhar commented on #124
We have reached out to the Database team to look into this. I will try to follow on this.

[2018-05-22 20:46] giridhar commented on #124
The links for documentation is here https://developer.dol.gov/health-and-safety/dol-osha-compliance/ we will get the link corrected on API Sampler.

[2018-05-23 13:42] RobertPRanney commented on #124
Thank you for looking into this for me

[2018-06-04 21:17] sanketdevrao opened #125 "Getting response blank"
Getting 200 response blank but with blank data

[2018-06-05 04:18] hariyerramsetty commented on #125
@sanketdevrao Can you please elaborate the endpoint and the dataset you are trying to query?

[2018-06-05 16:04] sanketdevrao commented on #125
Hi,

First of all Thanks for response.

So, some request queries are:

1.       https://data.dol.gov/get/violation/format/json/limit/180

2.       https://data.dol.gov/get/inspection/format/json/limit/180

I am getting response 200 but an empty array.

[cid:image001.png@01D3FCAC.342A53C0]

Thanks,
Sanket

From: Hari Yerramsetty [mailto:notifications@github.com]
Sent: Monday, June 04, 2018 9:19 PM

[2018-06-06 13:41] hariyerramsetty commented on #125
@sanketdevrao We are currently trying to resolve this issue. Will update you once it is fixed.

[2018-06-06 15:59] sanketdevrao commented on #125
Hi Hari,

Could you please give us timeline, when it will be available?

Thanks,
Sanket

From: Hari Yerramsetty [mailto:notifications@github.com]
Sent: Wednesday, June 06, 2018 6:42 AM
To: USDepartmentofLabor/Developer <Developer@noreply.github.com>
Cc: Selokar, Sanket <Sanket.Selokar@experian.com>; Mention <mention@noreply.github.com>
Subject: Re: [USDepartmentofLabor/Developer] Getting response

[2018-06-14 15:22] giridhar commented on #125
The dataset connective has been reestablished please check now.
sample request
https://data.dol.gov/get/violation/limit/10?X-API-KEY=<yourapikey>

[2018-06-14 15:22] #125 closed, assigned to nobody

[2018-06-18 20:06] chrisgillis opened #126 "Broken orderby and column filtering on violation API"
I'm having some serious looking issues with the Department of Labor Violation APIs.

This request seems to work alright. curl -k --globoff -H "X-API-KEY: YOUR_API_KEY_HERE" https://data.dol.gov/get/violation/limit/1/orderby/asc

But order the other way and you get the same exact result. curl -k --globoff -H "X-API-KEY: YOUR_API_KEY_HERE" https://data.dol.gov/get/violation/limit/1/orderby/desc

Try

[2018-06-18 20:19] giridhar commented on #126
we have observed this issues while applying filters recently on OSHA dataset. And I agree the documentation for API v2 is also needed some fixing which is underway.

[2019-01-24 11:23] davidkellerman opened #137 "Getting "Not Acceptable. Check suggested format." errors from V2 API."
This command is getting a "Not Acceptable. Check suggested format." error:
[code]

I also tried a bunch of variants, trimming out filtering options, all with the same result.

As a reality check, I also tried the examples at the bottom of the [ACCESSING THE API USING HTTP REQUESTS](https://developer.dol.gov/accessing-the-apis-using-http-requests/) page:
[code]
[code]

They, too, get the same "Not

[2019-01-25 16:50] giridhar commented on #137
The inspection data should be working now. we are working with the database team to fix the accident dataset issues.

[2019-01-28 08:45] davidkellerman commented on #137
Hmm. I wonder if there's more than one problem. I'm still getting the same error with the `get/inspection` request.

[2019-03-13 03:53] arjitsakhuja opened #138 "Unable to access API Data.dol.gov V2 using Python Requests Package"
First of all, the information on the website is ambiguous because we do not know what X stands for in the key/value pair: "X-API-KEY: d9c6c290-da4c-424e-a378-fb4bd027b58z". In my case, I am using X as my application name which is 'DOL'

Here is my Python code. I am following the protocols given on the official website but still getting 403 status code
Code:
header = {"DOL-API-KEY":'My Token'}
resp

[2019-03-14 20:42] hariyerramsetty commented on #138
@arjitsakhuja: X in X-API-KEY doesn't have any specific meaning. So when you are calling API. The key should be passed as X-API-KEY

Ex: ```https://data.dol.gov/get/<datasettable-name>/limit/10?X-API-KEY=<your-api-key>```

[2019-03-18 17:27] arjitsakhuja commented on #138
Thank you so much for helping me out.

Kind regards,
Arjit Sakhuja

On Thu, Mar 14, 2019 at 3:42 PM Hari Yerramsetty <notifications@github.com>
wrote:

[2019-03-18 18:18] #138 closed, assigned to nobody

[2019-03-19 07:43] arjitsakhuja opened #139 "Unable to access OSHA COMPLIANCE v1 through https request"
As per the protocols, I am trying to fetch data related to **OSHA inspections** present in tables: **full, foodservice, hospitality, retail, occupationcode, substancecode** mentioned in this link "https://developer.dol.gov/health-and-safety/dol-osha-compliance/#full". I am using Python Requests package to fetch inspection data related to retail from this URL : "http://api.dol.gov/V1/Compliance/ret

[2019-03-27 18:24] hariyerramsetty commented on #139
@arjitsakhuja: As discussed in #138, please change KEY to X-API-KEY. Thanks

[2019-03-27 18:24] #139 closed, assigned to nobody

[2019-09-13 14:44] dklemish commented on #137
I just came across the same error as @davidkellerman, at least with regards to the accident table. It looks like the API calls to the accident table are actually being routed to the accident abstract table.

For example, using the example from the API documentation:
`curl -k -H "X-API-KEY: ..." https://data.dol.gov/get/accident/format/json/limit/1/offset/5/columns/summary_nr:event_desc:event_time`

[2019-09-15 21:58] jklein131 opened #140 "Header names are not RFC 2616 (Field names are case-insensitive)"
As per: https://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2
This works:
`curl -H "x-api-key: <uuid>" https://data.dol.gov/get/accident_abstract/limit/0 -v`
This does not:
`curl -H "X-API-KEY: <uuid>" https://data.dol.gov/get/accident_abstract/limit/0 -v`

The servers should process headers in a case-insensitive manner.

[2019-11-08 16:04] vinayan opened #141 "Invalid API Key for V2 APIs"
I am getting "Invalid API Key" for all the V2 requests.

My Curl Request(from referring  https://developer.dol.gov/accessing-the-apis-using-http-requests/) :

`curl -H "X-API-KEY:mytoken" https://data.dol.gov/get/accident/format/xml/limit/10`

The same key works for V1 API without issues when passed as a query parameter named "KEY".

Any ideas?

[2019-11-20 05:43] savannahmhunter commented on #141
My team and I are having the same issue. Our code was in the same format except we were trying to call the inspection data. We also tried examples using version 1 of other data and that worked but for the inspection data only version 2 is available.

[2019-11-20 13:35] giridhar commented on #141
Hi, @savannahmhunter and @vinayan sorry to hear that you are unable to get to the data. can you please try
https://data.dol.gov/get/accident/limit/10/?X-API-KEY=<your api key>   and let me know if you see any error.

[2019-11-25 04:55] vinayan commented on #141
hi, @giridhar  I still get "Invalid" API key

![apikey](https://user-images.githubusercontent.com/1298627/69513470-d9506d00-0f6d-11ea-8fbb-01421833f336.png)

[2019-12-03 13:59] vinayan commented on #141
@giridhar any update?

[2019-12-03 17:56] giridhar commented on #141
That's Wierd can you please share your account details via email to webmaster at dol dot gov. I can take a look at it.

[2019-12-04 03:34] savannahmhunter commented on #141
I am also get the same error message.
![2019-12-03 (2)](https://user-images.githubusercontent.com/39849088/70110449-d99ed700-1603-11ea-8837-7e4b177320fb.png)

[2019-12-10 13:14] vinayan commented on #141
@giridhar I sent the account details to the specified email. Please take a look.

[2020-01-06 19:53] giridhar commented on #141
Can you please check now.

[2020-02-08 16:40] patbluenote opened #142 "Inspection table returning 0 results"
This was working before but now if I perform a GET on https://data.dol.gov/get/inspection/limit/1/offset/0 I get back an empty array, regardless of offset or limit up to 200.

[2020-02-10 12:29] giridhar commented on #142
@patbluenote did you try with your api key ?

https://data.dol.gov/get/inspection/limit/1/offset/0?X-API-KEY=<yourkey>

[2020-02-10 12:30] giridhar commented on #141
Closing this now.

[2020-02-10 12:30] #141 closed, assigned to nobody

[2020-02-10 12:38] patbluenote commented on #142
Yes.  It started working again on Sunday.  Late Friday when I first reported it was returning [] and Saturday when I checked it was the same but Sunday it started working.  Also, without the API key, it returns:
{
"status": "",
"error": "Invalid API Key"
}

[2020-04-22 02:47] shapironick opened #143 "Define where to look up Hazardous substance code for "hazsu(1-5)" and "nr_instances""
hello!
@premolina492 and I are looking through the OSHA violation dataset and we're trying to figure out where to look up the codes in hazsu1-hazsu5 and have poured over the documentation but haven't found anything. we know they are 4 digits and alphanumeric but where do we find where these codes are defined? Can you point us to where to find this data?

also can you point us to where the number o

[2020-04-29 06:26] hariyerramsetty commented on #143
@shapironick: This website contains data related to enforcement data (OSHA Violation etc)

https://enforcedata.dol.gov/views/data_summary.php

Incase you need additional information that is not available on the enforcement data website, please send an email to webmaster@dol.gov. The request will be directed to appropriate dataowner

[2020-04-30 02:11] shapironick commented on #143
Thank you! We just sent an email as we cannot find the information we are looking for there or on other parts of the website that we've scoured. Closing as this is moving to email. Thanks again!

[2020-04-30 02:11] #143 closed, assigned to nobody

[2020-05-12 19:13] tonydifranco opened #144 "date_column filtering not working"
I've tried filtering by date using the [api v2](https://developer.dol.gov/accessing-the-apis-using-http-requests/#apiv2) methodology on multiple tables and columns and I always get the same error response.  Is this functioning properly?

example url:
https://data.dol.gov/get/inspection/limit/20/date_column/open_date/start_date/2019-06-15

[code]

[2020-05-13 19:15] giridhar commented on #144
We apologize but this feature is not functioning properly at this time.  Although it is not ideal, please download the complete dataset and apply the date filter as needed.  We expect an improvement with filtering in the near future.  Thank you.

[2020-05-13 19:15] #144 closed, assigned to nobody

[2020-05-13 19:20] tonydifranco commented on #144
@giridhar is there a way to download the complete table without having to paginate?

I think just found it: https://enforcedata.dol.gov/views/data_summary.php

[2020-05-13 19:31] giridhar commented on #144
I am afraid that's the only way we can get all the data (paginate).

[2020-08-19 13:36] jvarugh commented on #137
Any update on this request? Still seems to be an issue for inspections.

[2020-08-24 19:28] giridhar commented on #137
@jvarugh just wanted to confirm if you are enquiring about filtering by date or date_column filter?

[2020-08-24 19:49] jvarugh commented on #137
@giridhar

Both I guess. I'm running a very similar request to the OP.

GET Request:
`https://data.dol.gov/get/inspection/limit/200/offset/0/date_column/open_date/start_date/2020-01-01`

GET Response::

    "status": "0",
    "error": "Not Acceptable. Check suggested format."
}

Seems like no matter what date_column value (open_date in this case), the response is always the same.

I am using the d

[2020-08-26 02:37] giridhar commented on #137
@jvarugh We are aware of date filters not working as desired and we are diligently working on an improvement of API capabilities. While it is not ideal, you may leverage other filters to limit results and then filter by date outside of the API call once you have the full set of data.  As these capabilities are ready for release, announcements will be posted via our developer website.  Thank you.

[2020-08-26 18:55] jvarugh commented on #137
@giridhar

That is our current workaround, but that requires us to pull 4 million+ records (which took several days) to obtain only ~30,000 for 2020, or ~400K since 2015.

Will you update this ticket when there is a fix for this?

The website/DOL subscriptions are for all things DOL related, not specifically API related.

Thanks,

[2020-09-16 21:37] bkingo commented on #106
@giridhar Is minimum wage data available via the API at this current time now?

[2020-09-28 19:43] mludeiro commented on #137
The issue is that, despite of the documentation, this column is a string, not a date
try with `/filter_column/CASE_MOD_DATE=10-DEC-13` to get that specific date

[2020-12-26 21:42] jmadison222 opened #147 "Getting intermittent Internal Server Error 500"
Been pulling lots of data from your very elegant API, but it gets internal server errors with some frequency.

I have been able to narrow this down to a specific API call for troubleshooting.  It is below.  But with a success (the first one) and a failure (the second one).

I can run this any number of times, and some will work, and some will not.

Any thoughts on a resolution?

All assistance app

[2021-04-02 22:06] ghost opened #148 "Compliance/WHD is not found"
None of the dataset tables listed [here](https://developer.dol.gov/wage-and-hour-division/whd-compliance/) are available. They all return a 503 response and body contents of a "404 error" message:

![image](https://user-images.githubusercontent.com/79165935/113457240-880b8580-93cc-11eb-90f0-ca96d708f22b.png)

When using the [API Sampler](https://devtools.dol.gov/APISampler/Home/Index1?datasetName=

[2021-04-07 02:56] giridhar commented on #148
Please accept our apologies for your APIv1 and API Sampler experience.  We are diligently working on an improved API dataset catalog along with API capabilities.  As these capabilities are ready for release, announcements will be posted via our developer website. Thank you.

[2021-04-07 02:56] #148 closed, assigned to nobody

[2021-06-16 19:35] calebswank11 opened #149 "CPS & OES return 503 when trying to access tables"
I can access the table response accurately but cannot query any data on the tables. It seems like any api's under Expanding Growth and Opportunities & Learning are having this issue, at least any with all caps snake case tables. I can access Public Workforce System and IPIA but not CPS, CES, CPI

Just to note, response text says 404, but actual response is 503

Please advise.

![image](https://use

[2021-07-15 08:03] r2rahul opened #150 "Search on date_column not working"
Posting this Stack Exchange question for the possible solution https://opendata.stackexchange.com/questions/19821/url-to-search-dol-api-data-dol-gov-v2-to-access-osha-enforcement-data

I am also trying to get data based on start and end date, but I am getting the following error message:
Query: "https://data.dol.gov/get/inspection/?format =json&limit=200&date_column=OPEN_DATE&start_date=2020-12-12

[2021-07-16 12:26] giridhar commented on #150
@r2rahul , we apologize but this feature is not functioning as expected at this time. We are diligently working on an improved API dataset catalog along with API capabilities. As these capabilities are ready for release, announcements will be posted via our developer website. Until these capabilities are available, we can suggest a couple of alternatives, both of which require downloading the comp

[2021-07-16 12:26] #150 closed, assigned to nobody

[2021-09-15 17:36] spencer-kimball opened #151 "Invalid API Key"
Hello,

I'm trying to access OSHA Inspection data through DOL's API, but it's telling me I have an invalid key. I created a new key, and I'm still getting the invalid response.

`Response [https://data.dol.gov/get/inspection]
  Date: 2021-09-15 16:28
  Status: 403
  Content-Type: application/json; charset=utf-8
  Size: 52 B
{
    "status": "",
    "error": "Invalid API Key"`

Any idea what could b

[2021-09-15 20:22] kgrabhorn-dol commented on #151
@spencer-kimball, for API version 2 datasets, please use "X-API-KEY" instead of "KEY".  For the OSHA Inspection dataset, the query would be as follows:

https://data.dol.gov/get/inspection/limit/100?X-API-KEY=

Let us know how it goes.  Thank you

[2021-09-15 22:10] spencer-kimball commented on #151
Is entering the limit for rows required for a successful response?

[2021-09-16 13:14] kgrabhorn-dol commented on #151
@spencer-kimball, good morning, yes.  A record limit is required and the maximum limit for API version 2 datasets is 200.  Thank you

[2021-09-16 18:50] spencer-kimball commented on #151
Good afternoon. Understood.

How then do I pull all the records available for this dataset? Or even determine how large the dataset is to begin with? I imagine the enforcement dataset has much more than 200 records in it.

Best,

Spencer

[2021-09-16 19:38] #142 closed, assigned to nobody

[2021-09-16 19:55] kgrabhorn-dol commented on #151
@spencer-kimball, we are diligently working on an improved API dataset catalog along with API capabilities. As these capabilities are ready for release, announcements will be posted via our developer website. Until these capabilities are available, we can suggest a couple of methods to obtain the full dataset.  You may use the API to download the OSHA Inspection data 200 records at a time or you m

[2021-09-17 16:17] spencer-kimball commented on #151
Thank you, look forward to the improved API dataset.

In the meantime, is there anybody at DOL I can speak with about the OSHA inspections dataset? I need a bit of help deciphering what some of the column titles mean.

Best,

Spencer

[2021-09-17 16:51] kgrabhorn-dol commented on #151
@spencer-kimball, in addition to the developer site (https://developer.dol.gov/health-and-safety/dol-osha-enforcement/#osha_inspection), you may see if this table helps you decipher the column headings.  Thanks

<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<

[2021-09-17 17:30] spencer-kimball commented on #151
Unfortunately, it leaves some unanswered questions. The column headings are one issue, and then the representation of values under each column are another.

For example, values under inspection scope are represented as letters. However, the explanation of what each value means is brief in DOL website material. For example C = Records. Not sure that records means.

[2021-09-17 17:40] kgrabhorn-dol commented on #151
@spencer-kimball, I am reaching in to our data community in hopes we can provide you an answer.  It may take a few days to obtain a response.  Thank you

[2021-09-17 20:39] kgrabhorn-dol commented on #151
@spencer-kimball, the following is provided in response to your question.  Thank you

-----------------------------
OSHA’s policies on inspections include the following:

A. Comprehensive.
A comprehensive inspection is a substantially complete and thorough inspection of all potentially hazardous areas of the establishment. An inspection can be deemed comprehensive even though, as a result of profe

[2021-09-20 14:23] spencer-kimball commented on #151
EDIT: Sorry let me be more precise.

I have found the tables that include OSHA data on violations and penalties. There is an OSHA violations table, an OSHA violation event table, and a table on violations of the general duty clause.

I am trying to use these tables to find two pieces of data: How many violations did OSHA issue in a given year, and how many resulted in financial penalties.

My ques

[2021-09-21 02:49] spencer-kimball commented on #151
For example, in OSHA's violation event table, the sum of all penalties (hist_penalty) for the year 2021 equals $385,616,889.

However, in OSHA's violations table, the sum of all penalties (current_penalty) for the year 2021 equals $176,373,177.

Yet, in the lab on the enforcement page website (https://enforcedata.dol.gov/views/oshaLab.php), penalties for the year 2021 equal  $101,310,787.19

I am

[2021-09-21 16:02] spencer-kimball opened #152 "Data issue, OSHA violation event vs OSHA violations tables"
Hello,

I am searching for the annual dollar value of penalties imposed by OSHA for violations. I am searching through the relevant available tables, the OSHA violation event table and OSHA violations table, and I am getting different numbers.

For example, in OSHA's violation event table, the sum of all penalties (hist_penalty) for the year 2021 equals $385,616,889.

However, in OSHA's violations

[2021-09-21 19:41] kgrabhorn-dol commented on #152
@spencer-kimball, I am reaching in to our data community in hopes we can provide you an answer. It may take a few days to obtain a response. Thank you

[2021-09-21 20:47] kgrabhorn-dol commented on #151
@spencer-kimball, I am closing this issue as the topic of "Invalid API Key" has been resolved.  You created topic #152 that replicates the last post made here. Thank you

[2021-09-21 20:47] #151 closed, assigned to nobody

[2021-09-23 21:38] kgrabhorn-dol commented on #152
@spencer-kimball, DOL produces official OSHA numbers with data run in mid-November.  OSHA data in DOL's Enforcement Data Portal and API are updated daily.  Therefore it will be difficult to obtain the official OSHA numbers without precise timing or having the algorithm used to produce the report.  It is recommended that you visit OSHA's Newsroom https://www.osha.gov/news to obtain accurate numbers

[2021-09-23 21:38] #152 closed, assigned to nobody

[2022-01-27 17:05] kgrabhorn-dol commented on #149
@calebswank11, thank you for reaching out to us about your API experience.  We are aware of these issues and are diligently working on an improved API dataset catalog along with API capabilities. As these capabilities are ready for release, announcements will be posted via our developer website.  Until these capabilities are available, please visit the respective BLS websites for CPS, CES, and CPI

[2022-01-27 17:05] #149 closed, assigned to nobody

[2022-06-02 13:50] pricingmodel opened #154 "DOL API is throwing an error "The URI you submitted has disallowed characters." when we are trying to call the API by filtering on the columns"
DOL API is throwing an error "The URI you submitted has disallowed characters." when we are trying to call the API by filtering on the columns

Request: https://data.dol.gov/get/inspection/limit/200/filter_column/SITE_ADDRESS=3300 EDISON WAY:SITE_CITY=FREMONT:SITE_STATE=CA:SITE_ZIP=94538

Please note this was working couple of weeks ago and we noticed this issue just today (06/02)

[2022-06-02 14:24] kgrabhorn-dol commented on #154
@pricingmodel, we are analyzing the issue you reported and will provide a response by the end of the day.  Thank you.

[2022-06-02 21:05] kgrabhorn-dol commented on #154
@pricingmodel, thank you for reporting the issue.  It has been resolved and your query provides results once again.  Thank you.

[2022-06-02 21:12] pricingmodel commented on #154
Thank You @kgrabhorn-dol. We are now seeing proper responses from the API

[2022-06-03 12:23] pricingmodel commented on #154
@kgrabhorn-dol : We see that the issue is resolved but the filtering is not happening. For example the below request is returning the results that do not match the search criteria

https://data.dol.gov/get/inspection/limit/200/filter_column/ESTAB_NAME=LEE'S IMPERIAL WELDING INC:SITE_ADDRESS=3300 EDISON WAY:SITE_CITY=FREMONTSITE_STATE=CA:SITE_ZIP=94538

Could you please take a look at the issue.

[2022-06-06 12:12] pricingmodel commented on #154
@kgrabhorn-dol : Could you please take a look at the above issue

[2022-06-07 14:43] RomiIBM opened #155 "DOL API filtering logic is not working"
We see that the API filtering logic has stopped working and it is returning all the results from the Table. Please find a sample request below along with the screenshot.

![image](https://user-images.githubusercontent.com/93140242/172409431-95c500d7-b4ba-40db-9d2a-21a0b28f75a9.png)

https://data.dol.gov/get/inspection/limit/200/filter_column/SITE_CITY=FREMONTSITE_STATE=CA:SITE_ZIP=94538

[2022-06-07 18:07] kgrabhorn-dol commented on #154
@pricingmodel, our team has analyzed this issue and are preparing to release an update to our code.  I will post an update here once it is ready for you to use.  Thank you, @kgrabhorn-dol

[2022-06-07 18:13] kgrabhorn-dol commented on #155
@RomiIBM, our team has analyzed this issue which is similar to #154 and are preparing to release an update to our code.  I will post an update here once it is ready for you to use.  Please note once the update is released that you should place a colon between FREMONT:SITE_STATE

Thank you, @kgrabhorn-dol

[2022-06-07 20:28] kgrabhorn-dol commented on #154
The code for APIv2 was updated.  The reported issue is fixed with this update.  I'll keep this issue open for a couple of days for you to have an opportunity to verify.  Thank you, @kgrabhorn-dol

[2022-06-07 20:28] kgrabhorn-dol commented on #155
The code for APIv2 was updated.  The reported issue is fixed with this update.  I'll keep this issue open for a couple of days for you to have an opportunity to verify.  Thank you, @kgrabhorn-dol

[2022-06-08 08:33] RomiIBM commented on #155
Hi kgrabhorn-dol,

Thanks for your update. Although we observed few request are working as expected with filtered results but few which were giving the results previously are now not giving any data.

For example below ones
https://data.dol.gov/get/inspection/limit/200/filter_column/ESTAB_NAME=BOUQUET PALACE:SITE_ADDRESS=409 AR-5:SITE_CITY=MOUNTAIN HOME:SITE_STATE=AR:SITE_ZIP=72653
https://data.do

[2022-06-08 09:01] RomiIBM commented on #155
Few more which are not giving any response

https://data.dol.gov/get/inspection/limit/200/filter_column/ESTAB_NAME=AMERICAN PACKAGING CORPORATION:SITE_ADDRESS=100 APC WAY:SITE_CITY=COLUMBUS:SITE_STATE=WI:SITE_ZIP=53925
https://data.dol.gov/get/inspection/limit/200/filter_column/ESTAB_NAME=PHILADELPHIA TEST:SITE_ADDRESS=124 ANY STREET:SITE_CITY=SACRAMENTO:SITE_STATE=CA:SITE_ZIP=95815
https://data.d

[2022-06-10 03:24] #154 closed, assigned to nobody

[2022-06-10 04:27] kgrabhorn-dol commented on #155
@RomiIBM, we confirmed that the ESTAB_NAME, SITE_ADDRESS, SITE_CITY, SITE_STATE, and SITE_ZIP combination you are querying for each of your examples results in zero records found.  We also validated the source database does not have any matches for the criteria you used in your queries.  The OSHA Inspection dataset is updated Daily which could include updates, record(s) inserted, and record(s) rem

[2022-06-10 05:39] RomiIBM commented on #155
Hi kgrabhorn-dol,

Thanks.

Thanks and Regards
Romi Chaudhary

From: kgrabhorn-dol ***@***.***>
Sent: Friday, June 10, 2022 9:58 AM
To: USDepartmentofLabor/Developer ***@***.***>
Cc: Chaudhary, Romi ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [USDepartmentofLabor/Developer] DOL API filtering logic is not working (Issue #155)

@RomiIBM<https://urldefense.com/v3/__https:/github.com/Ro

[2022-06-10 13:24] #155 closed, assigned to nobody

[2022-07-22 17:12] johng6 commented on #147
I don't think anyone works here anymore.

[2022-08-05 17:37] pricingmodel opened #156 "Unable to connect to data.dol.gov"
We are unable to connect to data.dol.gov. We are getting an error.

![image](https://user-images.githubusercontent.com/106754087/183131168-4f8a6ac4-5a67-4f4d-a5e5-8dc859f11683.png)

[2022-08-05 17:52] kgrabhorn-dol commented on #156
@pricingmodel, we have verified the issue you reported and escalated to our operations team.

[2022-08-05 18:59] kgrabhorn-dol commented on #156
@pricingmodel, APIv2 is operational once again.  Thank you again for reporting the issue.

[2022-08-05 18:59] #156 closed, assigned to nobody

[2022-11-18 17:25] etomer123 opened #158 "Is this group still being monitored??"
Is this group still being monitored??